<!DOCTYPE html>
<html lang="en">
{% include "home/head.html" %}
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================================= -->
  {% include "home/header.html" %}
  <!-- Header End --> 
    
<!-- Page Header
============================================= -->
<section class="page-header page-header-text-light bg-dark-3 py-5">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <ul class="breadcrumb mb-0">
          <li><a href="/">Home</a></li>
          <li class="active">Contact Us</li>
        </ul>
      </div>
      <div class="col-12">
        <h1>Contact Us</h1>
      </div>
    </div>
  </div>
</section>
<!-- Page Header End --> 
    
  <!-- Content
  ============================================= -->
  <div id="content">
  <div class="container">
      <div class="row">
      
      <div class="col-md-4 mb-4">
      <div class="bg-white shadow-md rounded h-100 p-3">
      	<div class="featured-box text-center">
              <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-map-marker-alt"></i></div>
              <h3>jCollect Inc.</h3>
              <p>21, Ladoke Akintola Avenue<br>
                Bodija, Ibadan<br>
                Oyo State<br>
                Nigeria </p>
            </div>
      </div>
      </div>
      
      <div class="col-md-4 mb-4">
      <div class="bg-white shadow-md rounded h-100 p-3">
      	<div class="featured-box text-center">
              <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-phone"></i> </div>
              <h3>Telephone</h3>
              <p class="mb-0">(+060) 9898980098</p>
              <p>(+060) 8898880088</p>
            </div>
      </div>
      </div>
      
      <div class="col-md-4 mb-4">
      <div class="bg-white shadow-md rounded h-100 p-3">
      	<div class="featured-box text-center">
              <div class="featured-box-icon text-primary mt-4"> <i class="fas fa-envelope"></i> </div>
              <h3>Business Inquiries</h3>
              <p>contactus@jcollect.io</p>
            </div>
      </div>
      </div>
      
      
      <div class="col-12 mb-4">
      <div class="text-center py-5 px-2">
      <h2 class="text-8">Get in touch</h2>
      <p class="lead">Get in touch with jCollect on Social media.</p>
      	<div class="d-flex flex-column">
              <ul class="social-icons social-icons-lg social-icons-colored justify-content-center">
                <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-icons-google"><a data-toggle="tooltip" href="http://www.google.com/" target="_blank" title="" data-original-title="Google"><i class="fab fa-google"></i></a></li>
                <li class="social-icons-linkedin"><a data-toggle="tooltip" href="http://www.linkedin.com/" target="_blank" title="" data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="social-icons-youtube"><a data-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="" data-original-title="Youtube"><i class="fab fa-youtube"></i></a></li>
                <li class="social-icons-instagram"><a data-toggle="tooltip" href="http://www.instagram.com/" target="_blank" title="" data-original-title="Instagram"><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
      </div>
      </div>
      
      </div>
    </div>
  <section class="hero-wrap section shadow-md">
      <div class="hero-mask opacity-9 bg-primary"></div>
      <div class="hero-bg" style="background-image:url('images/bg/image-2.jpg');"></div>
      <div class="hero-content">
        <div class="container text-center">
          <h2 class="text-9 text-white">Awesome Customer Support</h2>
          <p class="text-4 text-white mb-4">Have you any query? Don't worry. We have great people ready to help you whenever you need it.</p>
          <a href="#" class="btn btn-light">Find out more</a> </div>
      </div>
    </section>
  <!-- Content end -->
  
  <!-- Footer
  ============================================= -->
  {% include "footer.html" %}
  <!-- Footer end -->
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Video Modal
============================================= -->

<!-- Video Modal end --> 

<!-- Script --> 
{% include "foot.html" %}
</body>
</html>