{% load static %}
<header id="header">
    <div class="container">
        <div class="header-row">
            <div class="header-column justify-content-start">
                <!-- Logo
                ============================= -->
                <div class="logo"> <a class="d-flex" href="/" title="jCollect"><img src="{% static 'images/logo.png'%}" alt="jCollect" /></a> </div>
                <!-- Logo end -->
                <!-- Collapse Button
                ============================== -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button><!-- Collapse Button end -->

                <!-- Primary Navigation
                ============================== -->
                <nav class="primary-menu navbar navbar-expand-lg">
                    <div id="header-nav" class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li><a href="/how-to-send">Send</a></li>
                            <li><a href="/how-to-receive">Receive</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/fees">Fees</a></li>
                            <li><a href="/helps">Help</a></li>
                            <li><a href="/doc/" target="_blank">Documentation</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </nav>
                <!-- Primary Navigation end -->
            </div>

            <div class="header-column justify-content-end">
                <!-- Login & Signup Link
                ============================== -->
                {% if user.is_authenticated %}
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li><a href="/account/logout">Logout</a> </li>
                            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="/account/dashboard">Dashboard</a></li>
                        </ul>
                    </nav>
                {% elif not user.is_authenticated %}
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li><a href="/account/login">Login</a> </li>
                            <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="/account/register">Register</a></li>
                        </ul>
                    </nav>
                {% endif %}
                <!-- Login & Signup Link end -->
            </div>
        </div>
    </div>
</header>