{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================================= -->
  {% include 'home/header.html' %}
  <!-- Header End --> 
  
  <!-- Content
  ============================================= -->
  <div id="content"> 
    
    <!-- Send Money
    ============================================= -->
    <section class="hero-wrap section">
      <div class="hero-mask opacity-9 bg-primary"></div>
      <div class="hero-bg" style="background-image:url('{% static 'images/bg/image-5.jpg'%}');"></div>
      <div class="hero-content py-2 py-lg-5">
        <div class="container text-center">
          <h2 class="text-14 text-white">Receive Money from Around The World with jCollect</h2>
          <p class="text-5 text-white mb-4">Quickly and easily receive and request money online with jCollect.<br class="d-none d-lg-block">
            Over 180 countries and 120 currencies supported.</p>
          <a class="btn btn-light video-btn" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="text-2 mr-3"><i class="fas fa-play"></i></span>See How it Works</a> </div>
      </div>
    </section>
    <!-- Send Money End --> 
    
    <!-- How it works
    ============================================= -->
    <section class="section bg-white">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 mx-auto">
            <div class="row">
              <div class="col-md-5 col-lg-6 text-center my-auto order-2 order-md-1"> <img class="img-fluid shadow" src="{% static 'images/request-money.png'%}" alt=""> </div>
              <div class="col-md-7 col-lg-6 order-1 order-md-2">
                <h2 class="text-9"> The simple way to Receive Money</h2>
                <p class="text-3 mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="row">
                  <div class="col-12 mb-4">
                    <div class="featured-box style-3">
                      <div class="featured-box-icon text-light"><span class="w-100 text-20 font-weight-500">1</span></div>
                      <h3>Sign Up Your Account</h3>
                      <p>Become a register user first, then log in to your account and enter your card or bank details that is required for you.</p>
                    </div>
                  </div>
                  <div class="col-12 mb-4">
                    <div class="featured-box style-3">
                      <div class="featured-box-icon text-light"><span class="w-100 text-20 font-weight-500">2</span></div>
                      <h3>Enter Payer Details</h3>
                      <p>Enter your payer name, email address then add an amount with currency to request payment.</p>
                    </div>
                  </div>
                  <div class="col-12 mb-4 mb-sm-0">
                    <div class="featured-box style-3">
                      <div class="featured-box-icon text-light"><span class="w-100 text-20 font-weight-500">3</span></div>
                      <h3>Receive Money</h3>
                      <p>After the request payment, the payer will be notified via an email for payment.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- How it works End --> 
    
    <!-- Why choose us
    ============================================= -->
    <section class="section">
    <div class="container">
      <h2 class="text-9 text-center">Why choose jCollect?</h2>
      <p class="text-4 text-center mb-4">Here’s Top 4 reasons why using a jCollect account for manage your money.</p>
      <div class="row">
        <div class="col-xl-10 mx-auto">
          <div class="row">
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>Over 180 countries</h3>
                <p>Essent lisque persius interesset his et, in quot quidam.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>Lower Fees</h3>
                <p>Lisque persius interesset his et, in quot quidam persequeris.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>Easy to Use</h3>
                <p>Essent lisque persius interesset his et, in quot quidam.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>Faster Payments</h3>
                <p>Quidam lisque persius interesset his et, in quot quidam.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>100% secure</h3>
                <p>Essent lisque persius interesset his et, in quot quidam.</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="featured-box style-1">
                <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                <h3>24/7 customer service</h3>
                <p>Quidam lisque persius interesset his et, in quot quidam.</p>
              </div>
            </div>
          </div>
          <div class="text-center mt-4"><a href="#" class="btn btn-outline-primary shadow-none text-uppercase">Sign up Now</a></div>
        </div>
      </div>
    </div>
  </div>
  </section>
  <!-- Why choose us End --> 
  
  <!-- How work
    ============================================= -->
  <section class="section bg-white">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 order-2 order-lg-1">
          <div class="hero-wrap section h-100 p-5 mx-4 rounded-pill">
            <div class="hero-mask rounded-pill opacity-7 bg-dark"></div>
            <div class="hero-bg rounded-pill" style="background-image:url('{% static 'images/bg/image-6.jpg'%}');"></div>
            <div class="hero-content text-center py-5 my-5"> <a class="video-btn d-inline-flex" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"> <span class="btn-video-play bg-white shadow-md rounded-circle m-auto"><i class="fas fa-play"></i></span> </a> </div>
          </div>
        </div>
        <div class="col-lg-5 my-auto order-1 order-lg-2">
          <h2 class="text-9">How does it work?</h2>
          <p class="text-3">Here’s Top 4 reasons why using a jCollect account for manage your money. Quidam lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure.</p>
          <p>Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. lisque persius interesset his et, in quot quidam mea essent possim iriure.</p>
          <a href="#" class="btn-link text-4">Learn more<i class="fas fa-chevron-right text-2 ml-2"></i></a> </div>
      </div>
    </div>
  </section>
  <!-- How work End --> 
  
  <!-- Testimonial
    ============================================= -->
  <section class="section">
    <div class="container">
      <h2 class="text-9 text-center">What people say about jCollect</h2>
      <p class="text-4 text-center mb-5">A payments experience people love to talk about</p>
      <div class="row">
        <div class="col-lg-6 mb-4">
          <div class="testimonial rounded text-center p-4">
            <p class="text-4">“Easy to use, reasonably priced simply dummy text of the printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam possim iriure.”</p>
            <strong class="d-block font-weight-500">Jay Shah</strong> <span class="text-muted">Founder at Icomatic Pvt Ltd</span> </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="testimonial rounded text-center p-4">
            <p class="text-4">“I am happy Working with printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam persequeris essent possim iriure.”</p>
            <strong class="d-block font-weight-500">Patrick Cary</strong> <span class="text-muted">Freelancer from USA</span> </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="testimonial rounded text-center p-4">
            <p class="text-4">“Only trying it out since a few days. But up to now excellent. Seems to work flawlessly. I'm only using it for sending money to friends at the moment.”</p>
            <strong class="d-block font-weight-500">Dennis Jacques</strong> <span class="text-muted">User from USA</span> </div>
        </div>
        <div class="col-lg-6 mb-4">
          <div class="testimonial rounded text-center p-4">
            <p class="text-4">“I have used them twice now. Good rates, very efficient service and it denies high street banks an undeserved windfall. Excellent.”</p>
            <strong class="d-block font-weight-500">Chris Tom</strong> <span class="text-muted">User from UK</span> </div>
        </div>
      </div>
      <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more people review<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
    </div>
  </section>
  <!-- Testimonial end --> 
  
  <!-- Frequently asked questions
    ============================================= -->
  <section class="section bg-white">
    <div class="container">
      <h2 class="text-9 text-center">Frequently Asked Questions</h2>
      <p class="text-4 text-center mb-4 mb-sm-5">Can't find it here? Check out our <a href="help.html">Help center</a></p>
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto">
          <hr class="mb-0">
          <div class="accordion accordion-alternate arrow-right" id="popularTopics">
              <div class="card">
                <div class="card-header" id="heading1">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">What is jCollect?</a> </h5>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#popularTopics">
                  <div class="card-body"> Lisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">How to receive money online?</a> </h5>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#popularTopics">
                  <div class="card-body"> Iisque Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">Is my money safe with jCollect?</a> </h5>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#popularTopics">
                  <div class="card-body"> Iisque persius interesset his et, in quot quidam persequeris vim, ad mea essent possim iriure. Mutat tacimates id sit. Ridens mediocritatem ius an, eu nec magna imperdiet. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading4">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">How much fees does jCollect charge?</a> </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#popularTopics">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading5">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">What is the fastest way to receive money from abroad?</a> </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#popularTopics">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading6">
                  <h5 class="mb-0"> <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">Can I open an jCollect account for business?</a> </h5>
                </div>
                <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#popularTopics">
                  <div class="card-body"> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. </div>
                </div>
              </div>
            </div>
          <hr class="mt-0">
        </div>
      </div>
      <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more FAQ<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
    </div>
  </section>
  <!-- Frequently asked questions end --> 
  
  <!-- Special Offer
    ============================================= -->
  <section class="hero-wrap py-5">
    <div class="hero-mask opacity-8 bg-dark"></div>
    <div class="hero-bg" style="background-image:url('{% static 'images/bg/image-2.jpg'%}');"></div>
    <div class="hero-content">
      <div class="container d-md-flex text-center text-md-left align-items-center justify-content-center">
        <h2 class="text-6 font-weight-400 text-white mb-3 mb-md-0">Sign up today and get your first transaction fee free!</h2>
        <a href="#" class="btn btn-outline-light text-nowrap ml-4">Sign up Now</a> </div>
    </div>
  </section>
  <!-- Special Offer end --> 
</div>
<!-- Content end --> 

<!-- Footer
  ============================================= -->
{% include 'footer.html' %}
<!-- Footer end -->

</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include 'foot.html' %}
</body>
</html>