<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'home/header.html' %}
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content">
        <div class="login-signup-page mx-auto my-5">
            <h3 class="font-weight-400 text-center">Reset Password</h3>
            <p class="lead text-center">Input email attached to your wallet to reset your password</p>
            <div class="bg-light shadow-md rounded p-4 mx-2">
                <form id="loginForm" action="" method="post">
                    {% csrf_token %}
                    {{ form.email.errors }}
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" name="email" class="form-control" id="emailAddress" required placeholder="Enter Your Email">
                    </div>
                    <button class="btn btn-primary btn-block my-4" type="submit">Reset Password</button>
                </form>
            </div>
        </div><br><br><br><br><br><br><br><br><br>
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->
    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Video Modal
    ============================================= --><!-- Video Modal end -->

    <!-- Script -->
    {% include 'foot.html' %}
</body>
</html>