<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>
<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link active" href="/account/transfer">Transfer</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3">Change Password</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <!-- Request Money Form
                        ============================================= -->
                        <form id="form-send-money" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="payerName">Confirm Current Password</label>
                                <input type="password" name="old_password" class="form-control" data-bv-field="payerName" id="payerName" required placeholder="Enter Current Password">
                            </div>
                            <div class="form-group">
                                <label for="emailID">New Password</label>
                                <input type="password" name="new_password1" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter New Password">
                            </div>
                            <div class="form-group">
                                <label for="emailID">Confirm New Password</label>
                                <input type="password" name="new_password2" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Confirm New Password">
                            </div>
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <button class="btn btn-primary btn-block mt-4" type="submit">Change Password</button>
                        </form>
                        <!-- Request Money Form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
<script>
    $(function() {
        'use strict';
        // Payment due by
        $('#paymentDue').daterangepicker({
            singleDatePicker: true,
            minDate: moment(),
            autoUpdateInput: false,
        }, function(chosen_date) {
            $('#paymentDue').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
</body>
</html>