<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'home/header.html' %}
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content">
        <div class="login-signup-page mx-auto my-5">
            <h3 class="font-weight-400 text-center">Reset Password</h3>
            <p class="lead text-center">Please enter your New Password</p>
            <div class="bg-light shadow-md rounded p-4 mx-2">
                {% if validlink %}
                    <form id="loginForm" action="" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        {{ form.email.errors }}
                        <div class="form-group">
                            {{ form.new_password1.errors }}
                            <label for="emailAddress">New Password</label>
                            <input type="password" name="new_password1" class="form-control" id="emailAddress" required placeholder="New Password">
                        </div>
                        <div class="form-group">
                            {{ form.new_password2.errors }}
                            <label for="emailAddress">Confirm Password</label>
                            <input type="password" name="new_password2" class="form-control" id="emailAddress" required placeholder="Confirm Password">
                        </div>
                        <button class="btn btn-primary btn-block my-4" type="submit">Reset Password</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                        <h4 class="alert-heading">Password reset unsuccessful</h4>
                        <p>The password reset link was invalid, <br />
                            possibly because it has already been used. <br />
                            Please request a new password reset.</p>
                    </div>
                {% endif %}
            </div>
        </div><br><br><br><br><br><br>
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->
    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Video Modal
    ============================================= --><!-- Video Modal end -->

    <!-- Script -->
    {% include 'foot.html' %}
</body>
</html>