{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'home/header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">

                    <!-- Request Money Success
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center my-5">
                            <p class="text-center text-success text-20 line-height-07"><i class="fas fa-check-circle"></i></p>
                            <p class="text-center text-success text-8 line-height-07">Email Reset Successful</p>
                            <p class="text-center text-4">Complete</p>
                        </div>
                        <p class="text-center text-3 mb-4">If you don't receive an email, please make sure you've entered the address you registered with,
                            and check your spam folder.</p>
                        <a href="{% url 'login' %}"><button class="btn btn-primary btn-block">Login</button></a>
                    </div>
                    <!-- Request Money Success end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>

</html>