{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">All Transactions</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
              </li>
            </ul>
            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped" id="table-1">
                          <thead>
                            <tr>
                              <th class="text-center">S/N</th>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Ref No</th>
                                <th>Date</th>
                                <th>Currency</th>
                                <th>Amount</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data in show %}
                            <tr>
                              <td>
                                {{ forloop.counter }}
                              </td>
                              <td>{{ data.sender }}</td>
                              <td class="align-middle">
                                {{ data.receiver }}
                              </td>
                              <td>{{ data.ref_no }}</td>
                              <td>{{ data.date }}</td>
                              <td>{{ data.cur }}</td>
                              <td>{{ data.amount|intcomma }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% include "admin/footer.html" %}
      </div>
    </div>
    <!-- General JS Scripts -->
    {% include "admin/foot.html" %}
  </body>
  </html>