{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>jCollect - Admin</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/summernote/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/codemirror/lib/codemirror.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/codemirror/theme/duotone-dark.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/jquery-selectric/selectric.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/select2/dist/css/select2.min.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'admin/assets/img/favicon.ico'%}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Charges and Commision</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
            </li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>All Charges</h4>
                  </div>
                  <div class="card-body">
                  {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error - </strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
                  <form action="/super/charges" method="post">
                    {% csrf_token %}
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Pay-Me Charge</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" value="{{ all.pay_me }}" name="payme" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Invoice Charge</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" value="{{ all.invoice }}" name="invoice" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Transfer Charge</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" value="{{ all.transfer }}" name="transfer" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Deposit Charge</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" value="{{ all.deposit }}" name="deposit" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3">Merchant Charge</label>
                      <div class="col-sm-12 col-md-7">
                        <input type="text" value="{{ all.merchant }}" name="merchant" class="form-control">
                      </div>
                    </div>
                    <div class="form-group row mb-4">
                      <label class="col-form-label text-md-right col-12 col-md-3 col-lg-3"></label>
                      <div class="col-sm-12 col-md-7">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </div>
                   </form
                  </div>
                </div>
              </div>
            </div>
            
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include "admin/footer.html" %}
    </div>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'admin/assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'admin/assets/bundles/summernote/summernote-bs4.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/codemirror/lib/codemirror.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/codemirror/mode/javascript/javascript.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/ckeditor/ckeditor.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/select2/dist/js/select2.full.min.js'%}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'admin/assets/js/page/ckeditor.js'%}"></script>
  <!-- Template JS File -->
  <script src="{% static 'admin/assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/assets/js/custom.js'%}"></script>
</body>
</html>