<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>
<!-- Preloader -->
{% include 'preloader.html' %}
<!-- Preloader -->


<!-- Setting Panel -->
<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="ecaps-page-wrapper">
    <!-- Sidemenu Area -->
    {% include 'admin/sidebar2.html' %}

    <!-- Page Content -->
    <div class="ecaps-page-content">
        <!-- Top Header Area -->
        {% include 'admin/header2.html' %}

        <!-- Main Content Area -->
        <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-xl-4 height-card box-margin">
                        <div class="card">
                            <div class="card-body">
                                <div class="chat-area">
                                    <!--end chat-search-->

                                    <div class="slimScrollDiv">
                                        <div class="tab-content chat-list slimscroll" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="general_chat">
                                                <div id="plist" class="people-list">
                                                    <div class="schedule-tab">
                                                        <!-- Nav Nav-tabs -->
                                                        <ul class="nav nav-pills navtab-bg nav-justified" id="conferScheduleTab" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" id="monday-tab" data-toggle="tab" href="#step-one" role="tab" aria-controls="step-one" aria-expanded="true"><i class="zmdi zmdi-comment-more mr-1"></i> Ticket</a>
                                                            </li>
                                                            <!-- Nav Item -->
                                                            <!-- Nav Item -->
                                                        </ul>
                                                    </div>
                                                    <!-- Tab Content -->
                                                    <div class="tab-content" id="conferScheduleTabContent">
                                                        {% for message in messages %}
                                                            <div class="alert alert-success" role="alert">
                                                                {{ message }}
                                                            </div>
                                                        {% endfor %}
                                                        <div class="tab-pane fade show active" id="step-one" role="tabpanel" aria-labelledby="monday-tab">
                                                            <div class="tab-content pt-0">
                                                                <div id="chat_user_2">
                                                                    {% if r_show %}
                                                                        <ul class="chat-list list-unstyled">
                                                                            <a href="/super/solve/{{ get_content.ticket_id }}">
                                                                                <li class="clearfix active">
                                                                                    <div class="about">
                                                                                        <div class="name">{{ get_content.ticket_id }}</div>
                                                                                        <div class="status">{{ get_content.subject }}</div>
                                                                                    </div>
                                                                                    <div class="chart-time text-right">
                                                                                        <div class="time font-weight-bold font-12">{{ get_content.priority }}</div>
                                                                                    </div>
                                                                                </li>
                                                                            </a>
                                                                        </ul>
                                                                    {% elif not r_show %}
                                                                        <ul class="chat-list list-unstyled">
                                                                            {% for data in show %}
                                                                                <a href="/super/solve/{{ data.ticket_id }}">
                                                                                    <li class="clearfix active">
                                                                                        <div class="about">
                                                                                            <div class="name">{{ data.ticket_id }}</div>
                                                                                            <div class="status">{{ data.subject }}</div>
                                                                                        </div>
                                                                                        <div class="chart-time text-right">
                                                                                            <div class="time font-weight-bold font-12">{{ data.priority }}</div>
                                                                                        </div>
                                                                                    </li>
                                                                                </a>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    {% if r_show %}
                        <div class="col-lg-7 col-xl-8 height-card box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <div class="chat">
                                        <div class="d-flex justify-content-between border-bottom align-items-center p-3">
                                            <div class="chat-header-text d-flex">
                                                <div class="chat-about">
                                                    <div class="chat-with font-18">{{ show.ticket_id }}</div>
                                                    <div class="chat-num-messages font-14">{{ show.status }}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="chat-history" id="chat-conversation">
                                            <ul>
                                                {% for data in r_show %}
                                                    <li>
                                                        <div class="message-data">
                                                            <span class="message-data-name">{{ data.ticket_id }} </span>
                                                            <span class="message-data-time">{{ data.date }}</span>
                                                        </div>
                                                        <div class="message my-message">{{ data.content }}</div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        {% if get_content %}
                                            <form method="post" action="/super/resolution">
                                                {% csrf_token %}
                                                <div class="chat-message clearfix">
                                                    <div class="form-group">
                                                        <input type="hidden" name="ticket_id" value="{{ get_content.ticket_id }}" class="form-control" readonly>
                                                        <input type="hidden" name="subject" class="form-control" value="{{ get_content.subject }}" id="emails" readonly>
                                                        <input type="hidden" class="form-control" name="category" value="{{ get_content.category }}" id="subject" readonly>
                                                        <div class="form-line">
                                                            <textarea class="form-control" name="content" placeholder="Write something.." style="height:100px"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group mb-1">
                                                        <select class="form-control" name="ticket_status">
                                                            <option>Select Status</option>
                                                            <option value="Seen">Seen</option>
                                                            <option value="Processed">Processed</option>
                                                            <option value="Solved">Solved</option>
                                                        </select>
                                                    </div>
                                                    <div class="chat-upload">
                                                        <input class="btn btn-primary" type="submit" value="Reply">
                                                    </div>
                                                </div>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>

<!-- ======================================
********* Page Wrapper Area End ***********
======================================= -->

<!-- Must needed plugins to the run this Template -->
{% include 'foot.html' %}
</body>
</html>