{% load static %}
<script src="{% static 'admin/assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <script src="{% static 'admin/assets/bundles/apexcharts/apexcharts.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/amcharts4/core.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/amcharts4/charts.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/amcharts4/animated.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jqvmap/dist/jquery.vmap.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jqvmap/dist/maps/jquery.vmap.world.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/cleave-js/dist/cleave.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/cleave-js/dist/addons/cleave-phone.us.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/bootstrap-daterangepicker/daterangepicker.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/bootstrap-timepicker/js/bootstrap-timepicker.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/select2/dist/js/select2.full.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jquery-selectric/jquery.selectric.min.js'%}"></script>
  <!-- Page Specific JS File -->
  <script src="{% static 'admin/assets/js/page/index.js'%}"></script>
  <!-- Template JS File -->
  <script src="{% static 'admin/assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/assets/js/custom.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/datatables.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/jquery-ui/jquery-ui.min.js'%}"></script>
  <script src="{% static 'admin/assets/js/page/datatables.js'%}"></script>
  <script src="{% static 'admin/assets/bundles/summernote/summernote-bs4.js'%}"></script>