<footer class="main-footer">
        <div class="footer-left">
          Copyright &copy; {% now "Y" %} <div class="bullet"></div><a href="#">jCollect</a>
        </div>
        <div class="footer-right">
        </div>
      </footer>