{% load static %}
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>jCollect - Admin</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/datatables/datatables.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-social/bootstrap-social.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/summernote/summernote-bs4.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-daterangepicker/daterangepicker.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/select2/dist/css/select2.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/jquery-selectric/selectric.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-timepicker/css/bootstrap-timepicker.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-tagsinput/dist/bootstrap-tagsinput.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/css/components.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/jqvmap/dist/jqvmap.min.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'admin/assets/img/favicon.ico'%}" />
</head>