{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>jCollect - Admin Login</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/app.min.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/bundles/bootstrap-social/bootstrap-social.css'%}">
  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/style.css'%}">
  <link rel="stylesheet" href="{% static 'admin/assets/css/components.css'%}">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="{% static 'admin/assets/css/custom.css'%}">
  <link rel='shortcut icon' type='image/x-icon' href="{% static 'admin/assets/img/favicon.ico'%}" />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <section class="section">
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="card card-primary">
              <div class="card-header">
                <h4>Login</h4>
              </div>
              {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error - </strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
              <div class="card-body">
                <form method="POST" action="/super/index" class="needs-validation" novalidate="">
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="email">Pnone Number</label>
                    <input id="email" type="number" class="form-control" name="phone" tabindex="1" required autofocus>
                    <div class="invalid-feedback">
                      Please fill in your Phone Number
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="d-block">
                      <label for="password" class="control-label">Password</label>
                    </div>
                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                    <div class="invalid-feedback">
                      please fill in your password
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                      <label class="custom-control-label" for="remember-me">Remember Me</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                      Login
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- General JS Scripts -->
  <script src="{% static 'admin/assets/js/app.min.js'%}"></script>
  <!-- JS Libraies -->
  <!-- Page Specific JS File -->
  <!-- Template JS File -->
  <script src="{% static 'admin/assets/js/scripts.js'%}"></script>
  <!-- Custom JS File -->
  <script src="{% static 'admin/assets/js/custom.js'%}"></script>
</body>
</html>