{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">KYC</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
              </li>
            </ul>
            {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Warning - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Success - </strong> {{ message }}
            </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <strong>Error - </strong> {{ message }}
            </div>
        {% endif %}
    {% endfor %}
            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped" id="table-1">
                          <thead>
                            <tr>
                              <th class="text-center">
                                #
                              </th>
                              <th>Address</th>
                              <th>Means of ID</th>
                              <th>ID Number</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data in show %}
                            <tr>
                              <td>
                                {{ forloop.counter }}
                              </td>
                              <td>{{ data.address }}</td>
                              <td class="align-middle">
                                {{ data.idm }}
                              </td>
                              <td>{{ data.idno }}</td>
                              {% if data.status == 0 %}
                              <td>
                                <div class="badge badge-danger badge-shadow">Not Approved</div>
                              </td>
                              {% else %}
                              <td>
                                <div class="badge badge-success badge-shadow">Approved</div>
                              </td>
                              {% endif %}
                              <td><a href="/super/viewKyc/{{ data.c_username }}" class="btn btn-primary">Detail</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% include "admin/footer.html" %}
      </div>
    </div>
    <!-- General JS Scripts -->
    {% include "admin/foot.html" %}
  </body>
  </html>