{% load static %}
<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body class="login-area">
<!-- Preloader -->
{% include 'preloader.html' %}
<!-- Preloader -->


<!-- ======================================
******* Page Wrapper Area Start **********
======================================= -->
<div class="main-content- h-100vh">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12">
                <!-- Middle Box -->
                <div class="middle-box">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="xs-d-none mb-50-xs break-320-576-none">
                                        <img src="{% static 'img/bg-img/2.png'%}" alt="">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    {% for message in messages %}
                                        <div class="alert alert-success" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <h4 class="font-18 mb-30">Your Session is locked</h4>

                                    <form action="lock" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="hidden" class="form-control height-50" value="{{ user.username }}" name="username" id="examplePassword1">
                                        </div>

                                        <div class="form-group">
                                            <label for="password">Password</label>
                                            <input class="form-control" type="password" name="password" required id="password" placeholder="Enter your password">
                                        </div>

                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary btn-block" type="submit">Unlock</button>
                                        </div>
                                    </form>
                                </div> <!-- end card-body -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ======================================
********* Page Wrapper Area End ***********
======================================= -->

<!-- Must needed plugins to the run this Template -->
{% include 'foot.html' %}

</body>
</html>