<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Payment Integration</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
            </li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <form action="/super/payment-api" method="post">
                    {% csrf_token %}
                    <div class="card-header">
                      <h4>Paystack</h4>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label>API key</label>
                        <input type="text" class="form-control" value="{{ show.paystack_api }}" name="paystack" required="">
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <form>
                    <div class="card-header">
                      <h4>Monify</h4>
                    </div>
                    <div class="card-body">
                      <div class="form-group">
                        <label>API Key</label>
                        <input type="text" class="form-control" required="">
                      </div>
                      <div class="form-group">
                        <label>Contract Code</label>
                        <input type="email" class="form-control" required="">
                      </div>
                      
                    </div>
                    <div class="card-footer text-right">
                      <button class="btn btn-primary">Submit</button>
                    </div>
                  </form>
                </div>
                
              </div>
            </div>
          </div>
        </section>
      </div>
     {% include "admin/footer.html" %}
    </div>
  </div>
  <!-- General JS Scripts -->
  {% include "admin/foot.html" %}
</body>
</html>