{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Credit User</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="index-2.html">
                <i data-feather="home"></i></a>
            </li>
          </ul>
          <div class="section-body">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Transfer</h4>
                  </div>
                  <div class="card-body">
                  {% if check.phone_no %}
                    <div class="form-group">
                      <label></label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-user"></i>
                          </div>
                        </div>
                        <input type="text" class="form-control pwstrength" value="{{ check.first_name }} {{ check.last_name }}" readonly data-indicator="pwindicator">
                      </div>
                      <div id="pwindicator" class="pwindicator">
                        <div class="bar"></div>
                        <div class="label"></div>
                      </div>
                    </div>
                    <form id="form-send-money" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Amount</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            $
                          </div>
                        </div>
                        <input type="hidden" name="r_number" id="r_number" class="form-control" value="{{ check.phone_no }}">
                        <input type="number" step="any" name="amount" id="amount" class="form-control currency" placeholder="Enter Amount">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-icon icon-left btn-success"><i class="fas fa-check"></i> Send Now</button>
                    </form>
                  {% else %}
                    <form action="/super/verify" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label>Phone Number</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-phone"></i>
                          </div>
                        </div>
                        <input type="number" name="number" class="form-control phone-number">
                      </div>
                    </div>
                    <button type="submit" class="btn btn-icon icon-left btn-success"><i class="fas fa-check"></i> Verify</button>
                  </form>
                  {% endif %}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                  <div class="card-header">
                    <h4>Backend Transactions</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
                        <thead>
                          <tr>
                            <th>Ref No</th>
                            <th>Description</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Charges</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for j in crd %}
                          <tr>
                            <td>{{j.ref_no}}</td>
                            <td>{{j.description}}</td>
                            <td>{{j.cur}}</td>
                            <td>{{j.amount}}</td>
                            <td>{{j.charges}}</td>
                            <td>{{j.date}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>   
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include "admin/footer.html" %}
    </div>
  </div>
  <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#form-send-money',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/super/send',
                data:{
                    amount:$('#amount').val(),
                    r_number:$('#r_number').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        swal({
                            title: "Thank You!",
                            text: "Transaction Successful!",
                            icon: "success",
                            type: "success"
                            }).then(function() {
                                window.location = "send";
                            });
                    },
                    error : function(data) {
                            document.getElementById("form-send-money").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
  <!-- General JS Scripts -->
  {% include "admin/foot.html" %}
</body>
</html>