{% load static %}
{% block main %}
    <div class="ecaps-sidemenu-area">
        <!-- Desktop Logo -->
        <div class="ecaps-logo">
            <a href="/super/home">
                <img class="desktop-logo" src="{% static 'img/core-img/jcollect.png'%}" alt="Desktop Logo">
                <img class="small-logo" src="{% static 'img/core-img/jcollect.png'%}" alt="Mobile Logo"></a>
        </div>

        <!-- Side Nav -->
        <div class="ecaps-sidenav" id="ecapsSideNav">
            <!-- Side Menu Area -->
            <div class="side-menu-area">
                <!-- Sidebar Menu -->
                <nav>
                    <ul class="sidebar-menu" data-widget="tree">
                        <li class=""><a href="/super/home">
                            <i class="zmdi zmdi-home"></i><span>Dashboard</span></a></li>
                        <li class="">
                            <a href="/super/user"><i class="zmdi zmdi-accounts">
                            </i> <span>All Users</span></a>
                        </li>
                        <li class="">
                            <a href="/super/send"><i class="zmdi zmdi-mail-send"></i> <span>Credit User</span></a>
                        </li>
                        <li><a href="/super/solve_voucher"><i class="zmdi zmdi-widgets"></i><span>Resolve Vouchers</span></a></li>
                        <li><a href="/super/activity"><i class="zmdi zmdi-search-in-file"></i><span>All Activity</span></a></li>
                        <li class="">
                            <a href="/super/voucher"><i class="zmdi zmdi-card-giftcard"></i><span>All Vouchers</span></a>
                        </li>
                        <li class="">
                            <a href="/super/withdraw"><i class="zmdi zmdi-balance"></i><span>All Withdrawal</span></a>
                        </li>
                        <li class="">
                            <a href="/super/mail"><i class="zmdi zmdi-account-box-mail"></i> <span>Email</span></a>
                        </li>
                        <li class="">
                            <a href="/super/dispute"><i class="zmdi zmdi-outlook"></i> <span>All Dispute</span></a>
                        </li>
                        <li class="">
                            <a href="/super/charges"><i class="zmdi zmdi-codepen"></i><span>Set Charges</span></a>
                        </li>
                        <li class="">
                            <a href="/super/payment-api"><i class="zmdi zmdi-money-box"></i><span>PayStack API</span></a>
                        </li>
                        <li class="">
                            <a href="/super/lock"><i class="zmdi zmdi-lock-outline"></i><span>Lock Screen</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}