{% load static %}
<div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="index-2.html"> <img alt="image" src="{% static 'admin/assets/img/logo.png'%}" class="header-logo" /> <span
                class="logo-name">jCollect</span>
            </a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="{% static 'images/icon.png'%}">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">{{user.last_name}} {{user.first_name}}</div>
              <div class="user-role">Administrator</div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown">
              <a href="/super/home" class="nav-link"><i data-feather="airplay"></i><span>Dashboard</span></a>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>User Management</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/user">All User</a></li>
                <li><a class="nav-link" href="/super/kycDetail">KYC</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="database"></i><span>Transactions</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/activity">History</a></li>
                <li><a class="nav-link" href="/super/voucher">Voucher</a></li>
                <li><a class="nav-link" href="/super/withdraw">Withdraw</a></li>
                <li><a class="nav-link" href="/super/allInvoice">Invoice</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="credit-card"></i><span>Financial</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/send">Credit User</a></li>
                <li><a class="nav-link" href="/super/solve_voucher">Voucher</a></li>
              </ul>
            </li>
            <li class="menu-header">Configuration</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="briefcase"></i><span>Charges</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/charges">System Commision</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i
                  data-feather="shopping-bag"></i><span>Payment Settings</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/payment-api">Payment Gateway</a></li>
              </ul>
            </li>
            <li class="menu-header">Resolution</li>
            <li class="dropdown">
              <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="mail"></i><span>Messages</span></a>
              <ul class="dropdown-menu">
                <li><a class="nav-link" href="/super/mail">Send Mail</a></li>
                <li><a class="nav-link" href="#">Ticket</a></li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>