{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">All User</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
              </li>
            </ul>
            <div class="section-body">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-striped" id="table-1">
                          <thead>
                            <tr>
                              <th class="text-center">
                                #
                              </th>
                              <th>Full Name</th>
                              <th>Customer ID</th>
                              <th>NGN Bal</th>
                              <th>USD Bal</th>
                              <th>GBP Bal</th>
                              <th>EUR Bal</th>
                              <th>Mobile No</th>
                              <th>Status</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for data in show %}
                            <tr>
                              <td>
                                {{ forloop.counter }}
                              </td>
                              <td>{{ data.first_name }} {{ data.last_name }}</td>
                              <td class="align-middle">
                                {{ data.customer_id }}
                              </td>
                              <td>₦ {{ data.bal|intcomma }}</td>
                              <td>$ {{ data.usd_bal|intcomma }}</td>
                              <td>£ {{ data.gbp_bal|intcomma }}</td>
                              <td>€ {{ data.eur_bal|intcomma }}</td>
                              <td>{{ data.phone_no }}</td>
                              {% if data.status == "hold" %}
                              <td>
                                <div class="badge badge-danger badge-shadow">{{ data.status|upper }}</div>
                              </td>
                              {% elif data.status == "unhold" %}
                              <td>
                                <div class="badge badge-success badge-shadow">{{ data.status|upper }}</div>
                              </td>
                              {% endif %}
                              <td><a href="/super/view/{{ data.id }}" class="btn btn-primary">Detail</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        {% include "admin/footer.html" %}
      </div>
    </div>
    <!-- General JS Scripts -->
    {% include "admin/foot.html" %}
  </body>
  </html>