{% load static %}
{% block main %}
    <!doctype html>
    <html lang="en">
    {% include 'head.html' %}

    <body>
    <!-- Preloader -->
    {% include 'preloader.html' %}
    <!-- Preloader -->
    <!-- ======================================
    ******* Page Wrapper Area Start **********
    ======================================= -->
    <div class="ecaps-page-wrapper">
        <!-- Sidemenu Area -->
        {% include 'admin/sidebar2.html' %}

        <!-- Page Content -->
        <div class="ecaps-page-content">
            <!-- Top Header Area -->
            {% include 'admin/header.html' %}
            <!-- Main Content Area -->
            <div class="main-content">
                <div class="container-fluid">
                    <!-- Form Validation area Start -->
                    <div class="row">
                        <div class="col-12 box-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title mb-2">All {{ name }} Transactions</h4>
                                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                        <thead>
                                        <tr>
                                            <th>Sender</th>
                                            <th>Receiver</th>
                                            <th>Ref No</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                        </tr>
                                        </thead>


                                        <tbody>
                                        {% for data in show %}
                                            <tr>
                                                <td>{{ data.sender }}</td>
                                                <td>{{ data.receiver }}</td>
                                                <td>{{ data.ref_no }}</td>
                                                <td>{{ data.date }}</td>
                                                <td><div class="badge badge-success badge-shadow">₦ {{ data.amount }}</div></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>

                                </div> <!-- end card body-->
                            </div> <!-- end card -->
                        </div><!-- end col-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ======================================
    ********* Page Wrapper Area End ***********
    ======================================= -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/popper.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/bundle.js'%}"></script>
    <script src="{% static 'js/default-assets/date-time.js'%}"></script>
    <script src="{% static 'js/default-assets/setting.js'%}"></script>
    <script src="{% static 'js/default-assets/fullscreen.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>
    <script src="{% static 'js/default-assets/notification-active.js'%}"></script>
    <script src="{% static 'js/default-assets/active.js'%}"></script>

    <!-- Must needed plugins to the run this Template -->
    <script src="{% static 'js/default-assets/jquery.datatables.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.bootstrap4.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-responsive.min.js'%}"></script>
    <script src="{% static 'js/default-assets/responsive.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatable-button.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.bootstrap4.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.html5.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.flash.min.js'%}"></script>
    <script src="{% static 'js/default-assets/button.print.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.keytable.min.js'%}"></script>
    <script src="{% static 'js/default-assets/datatables.select.min.js'%}"></script>
    <script src="{% static 'js/default-assets/demo.datatable-init.js'%}"></script>
    <script src="{% static 'js/default-assets/bootstrap-growl.js'%}"></script>

    </body>
    </html>
{% endblock %}