<!DOCTYPE html>
<html lang="en">
{% include "admin/head.html" %}

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      {% include "admin/header.html" %}
      {% include "admin/sidebar.html" %}
      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title m-b-0">Profile</h4>
            </li>
            <li class="breadcrumb-item">
              <a href="/super/home">
                <i data-feather="home"></i></a>
            </li>
          </ul>
          <div class="section-body">
            <div class="row mt-sm-4">
              <div class="col-12 col-md-12 col-lg-4">
                <div class="card author-box">
                  <div class="card-body">
                    <div class="author-box-center">
                      <div class="clearfix"></div>
                      <div class="author-box-name">
                        <a href="#">{{ show.first_name }} {{ show.last_name }}</a>
                      </div>
                      <div class="author-box-job">ID: {{ show.customer_id }}</div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <h4>Business Information</h4>
                  </div>
                  <div class="card-body">
                    <div class="py-4">
                      <p class="clearfix">
                        <span class="float-left">
                          Business Name
                        </span>
                        <span class="float-right text-muted">
                          {{ merchant.bus_name }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Business Address
                        </span>
                        <span class="float-right text-muted">
                          {{ merchant.bus_address }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Business Email
                        </span>
                        <span class="float-right text-muted">
                          {{ merchant.bus_email }}
                        </span>
                      </p>
                      <p class="clearfix">
                        <span class="float-left">
                          Business Phone
                        </span>
                        <span class="float-right text-muted">
                          <a href="#">{{ show.phone_no }}</a>
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-8">
                <div class="card">
                  <div class="padding-20">
                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about" role="tab"
                          aria-selected="true">Transactions</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings" role="tab"
                          aria-selected="false">Setting</a>
                      </li>
                    </ul>
                    <div class="tab-content tab-bordered" id="myTab3Content">
                      <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="home-tab2">
                        <div class="row">
                          <div class="col-md-3 col-6 b-r">
                            <strong>Full Name</strong>
                            <br>
                            <p class="text-muted">{{ show.first_name }} {{ show.last_name }}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Mobile</strong>
                            <br>
                            <p class="text-muted">{{ show.phone_no }}</p>
                          </div>
                          <div class="col-md-3 col-6 b-r">
                            <strong>Email</strong>
                            <br>
                            <p class="text-muted">{{show.email}}</p>
                          </div>
                        </div>
                        <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4>User Transactions</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped table-hover" id="save-stage" style="width:100%;">
                        <thead>
                          <tr>
                            <th>Ref No</th>
                            <th>Description</th>
                            <th>Currency</th>
                            <th>Amount</th>
                            <th>Charges</th>
                            <th>Date</th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for j in trans %}
                          <tr>
                            <td>{{j.ref_no}}</td>
                            <td>{{j.description}}</td>
                            <td>{{j.cur}}</td>
                            <td>{{j.amount}}</td>
                            <td>{{j.charges}}</td>
                            <td>{{j.date}}</td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                {% if show.status == "hold" %}
                  <a href="/super/un_hold/{{ show.customer_id }}" class="btn btn-primary">Un-Freeze</a>
                {% elif show.status == "unhold" %}
                  <a href="/super/hold/{{ show.customer_id }}" class="btn btn-primary">Freeze</a>
                {% endif %}
              </div>
            </div>
                      </div>
                      <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="profile-tab2">
                        <form method="post" class="needs-validation">
                          <div class="card-header">
                            <h4>Edit Profile</h4>
                          </div>
                          <div class="card-body">
                            <div class="row">
                              <div class="form-group col-md-6 col-12">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="John">
                                <div class="invalid-feedback">
                                  Please fill in the first name
                                </div>
                              </div>
                              <div class="form-group col-md-6 col-12">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="Deo">
                                <div class="invalid-feedback">
                                  Please fill in the last name
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-md-7 col-12">
                                <label>Email</label>
                                <input type="email" class="form-control" value="test@example.com">
                                <div class="invalid-feedback">
                                  Please fill in the email
                                </div>
                              </div>
                              <div class="form-group col-md-5 col-12">
                                <label>Phone</label>
                                <input type="tel" class="form-control" value="">
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group col-12">
                                <label>Bio</label>
                                <textarea
                                  class="form-control summernote-simple">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur voluptatum alias molestias minus quod dignissimos.</textarea>
                              </div>
                            </div>
                            <div class="row">
                              <div class="form-group mb-0 col-12">
                                <div class="custom-control custom-checkbox">
                                  <input type="checkbox" name="remember" class="custom-control-input" id="newsletter">
                                  <label class="custom-control-label" for="newsletter">Subscribe to newsletter</label>
                                  <div class="text-muted form-text">
                                    You will get new information about products, offers and promotions
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer text-right">
                            <button class="btn btn-primary">Save Changes</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      {% include "admin/footer.html" %}
    </div>
  </div>
  <!-- General JS Scripts -->
  {% include "admin/foot.html" %}
</body>
</html>