{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="#">Account</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/bank">Cards & Bank Accounts</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Notifications</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <select class="custom-select">
                            <option>NGN {{ shows.bal|intcomma }}</option>
                            <option>USD {{ shows.usd_bal|intcomma }}</option>
                            <option>GBP {{ shows.gbp_bal|intcomma }}</option>
                            <option>EUR {{ shows.eur_bal|intcomma }}</option>
                        </select>
                        <hr class="mx-n3">
                        <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Credit or Debit Cards
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-4">Credit or Debit Cards <span class="text-muted text-4">(for payments)</span></h3>
                        <div class="row">
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                                    <p class="text-4">XXXX-XXXX-XXXX-4151</p>
                                    <p class="d-flex align-items-center"> <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Valid<br>
                    thru<br>
                    </span> <span class="text-4 opacity-9">07/24</span> <span class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 ml-auto">Primary</span> </p>
                                    <p class="d-flex align-items-center m-0"> <span class="text-uppercase font-weight-500">Smith Rhodes</span> <img class="ml-auto" src="{% static 'images/payment/visa.png'%}" alt="visa" title=""> </p>
                                    <div class="account-card-overlay rounded"> <a href="#" data-target="#edit-card-details" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a> <a href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="account-card text-white rounded p-3 mb-4 mb-lg-0">
                                    <p class="text-4">XXXX-XXXX-XXXX-6296</p>
                                    <p class="d-flex align-items-center"> <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Valid<br>
                    thru<br>
                    </span> <span class="text-4 opacity-9">07/23</span> </p>
                                    <p class="d-flex align-items-center m-0"> <span class="text-uppercase font-weight-500">Smith Rhodes</span> <img class="ml-auto" src="{% static 'images/payment/mastercard.png'%}" alt="mastercard" title=""> </p>
                                    <div class="account-card-overlay rounded"> <a href="#" data-target="#edit-card-details" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-edit"></i></span>Edit</a> <a href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4"> <a href="#" data-target="#add-new-card-details" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Card</span> </p>
                            </a> </div>
                        </div>
                    </div>
                    <!-- Edit Card Details Modal
                    ================================== -->
                    <div id="edit-card-details" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Update Card</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="updateCard" method="post">
                                        <div class="form-group">
                                            <label for="edircardNumber">Card Number</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"> <span class="input-group-text"><img class="ml-auto" src="{% static 'images/payment/visa.png'%}" alt="visa" title=""></span> </div>
                                                <input type="text" class="form-control" data-bv-field="edircardNumber" id="edircardNumber" disabled value="XXXXXXXXXXXX4151" placeholder="Card Number">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="editexpiryDate">Expiry Date</label>
                                                    <input id="editexpiryDate" type="text" class="form-control" data-bv-field="editexpiryDate" required value="07/24" placeholder="MM/YY">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="editcvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                                    <input id="editcvvNumber" type="password" class="form-control" data-bv-field="editcvvNumber" required value="321" placeholder="CVV (3 digits)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="editcardHolderName">Card Holder Name</label>
                                            <input type="text" class="form-control" data-bv-field="editcardHolderName" id="editcardHolderName" required value="Smith Rhodes" placeholder="Card Holder Name">
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Update Card</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add New Card Details Modal
                    ================================== -->
                    <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Add a Card</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="addCard" method="post">
                                        <div class="btn-group d-flex btn-group-toggle mb-3" data-toggle="buttons">
                                            <label class="btn btn-outline-secondary btn-sm shadow-none w-100 active">
                                                <input type="radio" name="options" id="option1" checked>
                                                Debit </label>
                                            <label class="btn btn-outline-secondary btn-sm shadow-none w-100">
                                                <input type="radio" name="options" id="option2">
                                                Credit </label>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardType">Card Type</label>
                                            <select id="cardType" class="custom-select" required="">
                                                <option value="">Card Type</option>
                                                <option>Visa</option>
                                                <option>MasterCard</option>
                                                <option>American Express</option>
                                                <option>Discover</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardNumber">Card Number</label>
                                            <input type="text" class="form-control" data-bv-field="cardnumber" id="cardNumber" required value="" placeholder="Card Number">
                                        </div>
                                        <div class="form-row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="expiryDate">Expiry Date</label>
                                                    <input id="expiryDate" type="text" class="form-control" data-bv-field="expiryDate" required value="" placeholder="MM/YY">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label for="cvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                                                    <input id="cvvNumber" type="password" class="form-control" data-bv-field="cvvnumber" required value="" placeholder="CVV (3 digits)">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cardHolderName">Card Holder Name</label>
                                            <input type="text" class="form-control" data-bv-field="cardholdername" id="cardHolderName" required value="" placeholder="Card Holder Name">
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Add Card</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Credit or Debit Cards End -->

                    <!-- Bank Accounts
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-4">Bank Accounts <span class="text-muted text-4">(for withdrawal)</span></h3>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                                    <div class="row no-gutters">
                                        <div class="col-3 d-flex justify-content-center p-3">
                                            <div class="my-auto text-center text-13"> <i class="fas fa-university"></i>
                                                <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0">Primary</p>
                                            </div>
                                        </div>
                                        <div class="col-9 border-left">
                                            <div class="py-4 my-2 pl-4">
                                                <p class="text-4 font-weight-500 mb-1">{{ show.bank_name }}</p>
                                                <p class="text-4 opacity-9 mb-1">{{ show.account_no }}</p>
                                                <p class="m-0">Approved <span class="text-3"><i class="fas fa-check-circle"></i></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="account-card-overlay rounded">
                                        <a href="#" data-target="#bank-account-details" data-toggle="modal" class="text-light btn-link mx-2">
                                            <span class="mr-1"><i class="fas fa-share"></i></span>More Details
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% if ch %}
                            {% else %}
                                <div class="col-12 col-sm-6"> <a href="#" data-target="#add-new-bank-account" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                                    <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Add New Bank Account</span> </p>
                                </a> </div>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Edit Bank Account Details Modal
                    ======================================== -->
                    <div id="bank-account-details" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row no-gutters">
                                        <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                            <div class="my-auto text-center">
                                                <div class="text-17 text-white mb-3"><i class="fas fa-university"></i></div>
                                                <h3 class="text-6 text-white my-3">{{ show.bank_name }}</h3>
                                                <div class="text-4 text-white my-4">{{ show.account_no }} | NGN</div>
                                                <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 mb-0">Primary</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-7">
                                            <h5 class="text-5 font-weight-400 m-3">Bank Account Details
                                                <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                            </h5>
                                            <hr>
                                            <div class="px-3">
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Account Type:</li>
                                                    <li class="text-muted">Personal</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Account Name:</li>
                                                    <li class="text-muted">{{ show.account_name|upper }}</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Account Number:</li>
                                                    <li class="text-muted">{{ show.account_no }}</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Bank Country:</li>
                                                    <li class="text-muted">Nigeria</li>
                                                </ul>
                                                <ul class="list-unstyled">
                                                    <li class="font-weight-500">Status:</li>
                                                    <li class="text-muted">Approved <span class="text-success text-3"><i class="fas fa-check-circle"></i></span></li>
                                                </ul>
                                                <p><a href="delete/{{ show.id }}" class="btn btn-sm btn-outline-danger btn-block shadow-none"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete Account</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Add New Bank Account Details Modal
                    ======================================== -->
                    <div id="add-new-bank-account" class="modal fade" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Add bank account</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="addbankaccount" method="post" action="bank">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="bankName">Bank Name</label>
                                            <select class="custom-select" id="bankName" name="bank_name">
                                                <option value=""> Please Select </option>
                                                {% for banks in bank %}
                                                    <option value="{{ banks.name }}">{{ banks.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="accountName">Account Name</label>
                                            <input type="text" name="acct_name" class="form-control" data-bv-field="accountName" id="accountName" required value="" placeholder="e.g. Smith Rhodes">
                                        </div>
                                        <div class="form-group">
                                            <label for="accountNumber">Account Number</label>
                                            <input type="number" name="acct_no" class="form-control" data-bv-field="accountNumber" id="accountNumber" required value="" placeholder="e.g. 12346678900001">
                                        </div>
                                        <div class="form-check custom-control custom-checkbox mb-3">
                                            <input id="remember-me" name="remember" class="custom-control-input" type="checkbox">
                                            <label class="custom-control-label" for="remember-me">I confirm the bank account details above</label>
                                        </div>
                                        <button class="btn btn-primary btn-block" type="submit">Add Bank Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bank Accounts End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
<script>
    $(function() {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function(chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
<script src="js/theme.js"></script>
</body>
</html>