{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <select class="custom-select">
                            <option>NGN {{ shows.bal|intcomma }}</option>
                            <option>USD {{ shows.usd_bal|intcomma }}</option>
                            <option>GBP {{ shows.gbp_bal|intcomma }}</option>
                            <option>EUR {{ shows.eur_bal|intcomma }}</option>
                        </select>
                        <hr class="mx-n3">
                        <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    {% if vendor == None %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% else %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% endif %}
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <h2 class="font-weight-400 mb-3">Invoices</h2>

                    <!-- Filter
                    ============================================= -->
                    <div class="row">
                        <div class="col mb-2">
                            <form id="filterTransactions" method="post">
                                <div class="form-row">
                                    <!-- Date Range
                                    ========================= -->
                                    <div class="col-sm-6 col-md-5 form-group">
                                        <input id="dateRange" type="text" class="form-control" placeholder="Date Range">
                                        <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                    <!-- All Filters Link
                                    ========================= -->
                                    <div class="col-auto d-flex align-items-center mr-auto form-group" data-toggle="collapse"> <a class="btn-link" data-toggle="collapse" href="#allFilters" aria-expanded="false" aria-controls="allFilters">All Filters<i class="fas fa-sliders-h text-3 ml-1"></i></a> </div>
                                    <!-- Statements Link
                                    ========================= -->
                                    <div class="col-auto d-flex align-items-center ml-auto form-group">
                                        <div class="dropdown"> <a class="text-muted btn-link" href="#" role="button" id="statements" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-file-download text-3 mr-1"></i>Statements</a>
                                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="statements"> <a class="dropdown-item" href="#">CSV</a> <a class="dropdown-item" href="#">PDF</a> </div>
                                        </div>
                                    </div>

                                    <!-- All Filters collapse
                                    ================================ -->
                                    <div class="col-12 collapse mb-3" id="allFilters">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="allTransactions" name="allFilters" class="custom-control-input" checked>
                                            <label class="custom-control-label" for="allTransactions">All Transactions</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="paymentsSend" name="allFilters" class="custom-control-input">
                                            <label class="custom-control-label" for="paymentsSend">Payments Send</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="paymentsReceived" name="allFilters" class="custom-control-input">
                                            <label class="custom-control-label" for="paymentsReceived">Payments Received</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="refunds" name="allFilters" class="custom-control-input">
                                            <label class="custom-control-label" for="refunds">Refunds</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="withdrawal" name="allFilters" class="custom-control-input">
                                            <label class="custom-control-label" for="withdrawal">Withdrawal</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="deposit" name="allFilters" class="custom-control-input">
                                            <label class="custom-control-label" for="deposit">Deposit</label>
                                        </div>
                                    </div>
                                    <!-- All Filters collapse End -->
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Filter End -->

                    <!-- All Transactions
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded py-4 mb-4">
                        <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">All Created Invoices</h3>
                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                                <div class="col col-sm-7">Description</div>
                                <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
                                <div class="col-3 col-sm-2 text-right">Amount</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list">
                            {% for data in show %}
                                <div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#t{{ data.ref_no }}">
                                    <div class="row align-items-center flex-row">
                                        <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 font-weight-300">{{ data.date }}</span></div>
                                        {% if data.sender == user.username %}
                                            <div class="col col-sm-7">
                                                <span class="text-muted">Invoice Sent to</span>
                                                <span class="d-block text-4">{{ data.cust_name }}</span>
                                            </div>
                                        {% else %}
                                            <div class="col col-sm-7">
                                                <span class="text-muted">Invoice Sent From</span>
                                                <span class="d-block text-4">{{ data.sender }}</span>
                                            </div>
                                        {% endif %}
                                        {% if data.status == 'PAID' %}
                                            <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3">
                                            <span class="text-success" data-toggle="tooltip" data-original-title="Completed">
                                                <i class="fas fa-check-circle">{{ data.status }}</i>
                                            </span>
                                            </div>
                                        {% else %}
                                            <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3">
                                            <span class="text-danger" data-toggle="tooltip" data-original-title="Completed">
                                                <i class="fas fa-check-circle">{{ data.status }}</i>
                                            </span>
                                            </div>
                                        {% endif %}
                                        <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">₦ {{ data.amount|intcomma }}</span> <span class="text-2 text-uppercase">(NGN)</span> </div>
                                    </div>
                                </div>
                                <div id="t{{ data.ref_no }}" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row no-gutters">
                                                    <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                                        <div class="my-auto text-center">
                                                            <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                                                            <h3 class="text-4 text-white font-weight-400 my-3">Envato Pty Ltd</h3>
                                                            <div class="text-8 font-weight-500 text-white my-4">₦ {{ data.amount|intcomma }}</div>
                                                            <p class="text-white">{{ data.date }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h5 class="text-5 font-weight-400 m-3">Invoice Details
                                                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        </h5>
                                                        <hr>
                                                        <div class="px-3">
                                                            <ul class="list-unstyled">
                                                                <li class="mb-2">Payment Amount <span class="float-right text-3">₦ {{ data.amount|intcomma }}</span></li>
                                                                <li class="mb-2">Fee <span class="float-right text-3">-₦ 0.00</span></li>
                                                            </ul>
                                                            <hr class="mb-2">
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount <span class="text-3 ml-auto">₦ {{ data.amount|intcomma }}</span></p>
                                                            {% if data.sender == user.username %}
                                                                <ul class="list-unstyled">
                                                                    <li class="font-weight-500">Receiver</li>
                                                                    <li class="text-muted">{{ data.cust_name }}</li>
                                                                </ul>
                                                            {% else %}
                                                                <ul class="list-unstyled">
                                                                    <li class="font-weight-500">Paid By:</li>
                                                                    <li class="text-muted">{{ data.sender }}</li>
                                                                </ul>
                                                            {% endif %}
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Transaction ID:</li>
                                                                <li class="text-muted">{{ data.inv_ref|upper }}</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Description:</li>
                                                                <li class="text-muted">{{ data.content }}</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Status:</li>
                                                                <li class="text-muted">{{ data.status }}</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Transaction List End -->

                        <!-- Transaction Item Details Modal
                        =========================================== -->
                        <!-- Transaction Item Details Modal End -->

                        <!-- Pagination
                        ============================================= -->
                        <ul class="pagination justify-content-center mt-4 mb-0">
                            {% if show.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" tabindex="-1">&laquo; First
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ show.previous_page_number }}" tabindex="-1">Previous
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="page-link" href="#">
                                    Page {{ show.number }} of {{ show.paginator.num_pages }}.
                                </a>
                            </li>
                            {% if show.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ show.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ show.paginator.num_pages }}">Last &raquo;</a></li>
                            {% endif %}
                        </ul>
                        <!-- Paginations end -->

                    </div>
                    <!-- All Transactions End -->
                </div>
                <!-- Middle End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
<script>
    $(function() {
        'use strict';

        // Date Range Picker
        $(function() {
            var start = moment().subtract(29, 'days');
            var end = moment();
            function cb(start, end) {
                $('#dateRange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }
            $('#dateRange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start, end);
        });
    });
</script>
</body>
</html>