<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Form
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center bg-primary p-4 rounded mb-4">
                            <h3 class="text-8 text-white font-weight-400">{{ first_name }} {{ last_name }}</h3>
                            <a href="#" class="btn btn-outline-light btn-sm shadow-none text-uppercase rounded-pill text-1">Pay Me Service</a> </div>
                        <form id="form-send-money" method="post" action="/initiate">
                            {% csrf_token %}
                            <input  value="{{ email }}" type="hidden" name="email">
                            <input  value="{{ username }}" type="hidden" name="username">
                            <input  value="{{ phone }}" type="hidden" name="phone">
                            <input  value="{{ first_name }} {{ last_name }}" type="hidden" name="f_name">
                            <div class="form-group">
                                <label for="youSend">Your Name</label>
                                <div class="input-group">
                                    <input type="text" name="sender" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Your Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Email</label>
                                <div class="input-group">
                                    <input type="email" name="s_email" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Your Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                    <input type="number" name="amount" step="any" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Amount">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block">Continue</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Form end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>