{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link active" href="/account/bankTransfer">Transfer to Bank</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/transfer">Wallet Transfer</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/fastPay">Fast Pay</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    {% if status == 'success' %}
        <div id="content" class="py-4">
    <div class="container">
      <h2 class="font-weight-400 text-center mt-3">Confirmation</h2>
      <p class="text-4 text-center mb-4">You are sending money to <span class="font-weight-500">{{acct_name}}</span></p>
      <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
          <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4"> 
            
            <!-- Send Money Confirm
            ============================================= -->
            <form id="form-send-money" method="POST">
                {% csrf_token %}
                <input type="hidden" name="s_username" id="s_username" class="form-control" value="{{ user.username }}">
                <input type="hidden" value="{{amount}}" name="amount" id="amount">
                <input type="hidden" value="{{acct_num}}" name="acct_num" id="acct_num">
                <input type="hidden" value="{{bnk_code}}" name="bnk_code" id="bnk_code">
                <input type="hidden" value="{{acct_name}}" name="acct_name" id="acct_name">
              <h3 class="text-5 font-weight-400 mb-3">Details</h3>
              <p class="mb-1"> Account Name <span class="text-3 float-right">{{acct_name}}</span></p>
              <p class="mb-1">Bank Name <span class="text-3 float-right">{{bank_name}}</span></p>
              <hr>
              <p class="font-weight-500">Amount<span class="text-3 float-right">{{amount|intcomma}} NGN</span></p>
              <button class="btn btn-primary btn-block">Send Money</button>
            </form>
            <!-- Send Money Confirm end --> 
          </div>
        </div>
      </div>
    </div>
  </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Bank Transfer</h2>
                <p class="text-4 text-center mb-4">Send money to any Bank in Nigeria anywhere.</p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3">Receiver's Details</h3>
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form id="" method="post" action="bankVerify">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Destination Account Number</label>
                                    <input type="number" value="" name="acct_no" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Destination Account Number">
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Destination Bank</label>
                                    <select class="custom-select" name="bank">
                                        <option value="">Destination Bank</option>
                                        {% for data in show %}
                                            <option value="{{data.code}}">{{data.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Amount</label>
                                    <input type="number" value="" name="amount" step="any" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Amount">
                                </div>
                                <button class="btn btn-primary btn-block">Continue</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->
    <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#form-send-money',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/account/bankTransfer',
                data:{
                    acct_num:$('#acct_num').val(),
                    amount:$('#amount').val(),
                    bnk_code:$('#bnk_code').val(),
                    s_username:$('#s_username').val(),
                    acct_name:$('#acct_name').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        swal({
                            title: "Thank You!",
                            text: "Transaction Successful!",
                            icon: "success",
                            type: "success"
                            }).then(function() {
                                window.location = "bankTransfer";
                            });
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>