{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <select class="custom-select">
                            {% if user.country == "NG" %}
                                <option>NGN {{ show.bal|intcomma }}</option>
                                <option>USD {{ show.usd_bal|intcomma }}</option>
                                <option>GBP {{ show.gbp_bal|intcomma }}</option>
                                <option>EUR {{ show.eur_bal|intcomma }}</option>
                            {% else %}
                                <option>USD {{ show.usd_bal|intcomma }}</option>
                                <option>GBP {{ show.gbp_bal|intcomma }}</option>
                                <option>EUR {{ show.eur_bal|intcomma }}</option>
                            {% endif %}
                        </select>
                        <hr class="mx-n3">
                    </div>
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    {% if user.country == "NG" %}
                        {% if vendor == None %}
                            <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                                <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                                <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                                <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                            </div>
                        {% else %}
                            <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                                <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                                <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                                <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                            </div>
                        {% endif %}
                    {% else %}
                    {% endif %}
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Profile Completeness
                    =============================== -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <div class="row profile-completeness">
                            <div class="col-12 col-sm-6 col-lg-4">
                                {% for data in shows %}
                                    <div class="account-card text-white rounded p-3 mb-4 mb-lg-0">
                                        <p class="text-4">{{ data.card_no }}</p>
                                        <p class="d-flex align-items-center">
                                            <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Acct<br>Bal<br></span>
                                            <span class="text-4 opacity-9">₦ {{ data.card_bal|intcomma }}</span><br>
                                        </p>
                                        <p class="d-flex align-items-center m-0">
                                            <span class="text-uppercase font-weight-500">Pin: {{ data.pin }}</span>
                                            <img class="ml-auto" src="{% static 'images/payment/mastercard.png'%}" alt="mastercard" title="">
                                        </p>
                                    </div>
                                {% endfor %}
                            {% if card_check %}
                            {% else %}
                                <div class="account-card-overlay rounded"><br>
                                    <a href="#" data-target="#edit-card-details" data-toggle="modal" class="btn btn-primary d-none d-sm-block">
                                        <span class="mr-1">Get E-Card</span>
                                    </a>
                                </div>
                            {% endif %}
                            </div>
                            <div id="edit-card-details" class="modal fade" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-weight-400">Get Your Card</h5>
                                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                        </div>
                                        <div class="modal-body p-4">
                                            <form id="updateCard" action="card" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <input type="hidden" name="username" value="{{ user.username }}">
                                                </div>
                                                <button class="btn btn-primary btn-block" type="submit">Get Card</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                {% for acct in user_acct %}
                                    <div class="account-card text-white rounded p-3 mb-4 mb-lg-0">
                                        <p class="text-4">Acct No: {{ acct.acct_number }}</p>
                                        <p class="d-flex align-items-center">
                                            <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Bank<br>Name<br></span>
                                            <span class="text-4 opacity-9">{{ acct.bank_name }}</span><br>
                                        </p>
                                        <p class="d-flex align-items-center m-0">
                                            <span class="text-uppercase font-weight-500"> Name: {{ acct.acct_name }}</span>
                                        </p>
                                    </div>
                                {% endfor %}
                            {% if user_exists %}
                            {% else %}
                                {% if user.country == "NG" %}
                                    <div class="account-card-overlay rounded"><br>
                                        <a href="/account/open_account" class="btn btn-primary d-none d-sm-block">
                                            <span class="mr-1">Get Your Account</span>
                                        </a>
                                    </div>
                                {% else %}
                                {% endif %}
                            {% endif %}
                            </div>
                            <div class="col-12 col-sm-6 col-lg-4">
                                <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                                    <div class="row no-gutters">
                                        <div class="col-9 border-left">
                                            <div class="py-4 my-2 pl-4">
                                                <p class="text-4 font-weight-500 mb-1">Pay Me</p>
                                                <p class="text-3 opacity-9 mb-1"><input type="text" value="http://{{ request.get_host }}/payme/{{ user.username }}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Profile Completeness End -->

                    <!-- Recent Activity
                    =============================== -->
                    <div class="bg-light shadow-sm rounded py-4 mb-4">
                        <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">Recent Activity</h3>

                        <!-- Title
                        =============================== -->
                        <div class="transaction-title py-2 px-4">
                            <div class="row">
                                <div class="col-2 col-sm-1 text-center"><span class="">Date</span></div>
                                <div class="col col-sm-7">Description</div>
                                <div class="col-auto col-sm-2 d-none d-sm-block text-center">Status</div>
                                <div class="col-3 col-sm-2 text-right">Amount</div>
                            </div>
                        </div>
                        <!-- Title End -->

                        <!-- Transaction List
                        =============================== -->
                        <div class="transaction-list">
                            {% for info in tran %}
                                <div class="transaction-item px-4 py-3" data-toggle="modal" data-target="#t{{ info.ref_no }}">
                                    <div class="row align-items-center flex-row">
                                        <div class="col-2 col-sm-1 text-center"> <span class="d-block text-4 font-weight-300">{{ info.date }}</span></div>
                                        <div class="col col-sm-7"> <span class="d-block text-4">{{ info.description }}</span> 
                                        {% if info.receiver == user.username %}
                                            <span class="text-muted">Credit</span> 
                                        {% else %}
                                            <span class="text-muted">Debit</span> 
                                        {% endif %} 
                                        </div>
                                        <div class="col-auto col-sm-2 d-none d-sm-block text-center text-3"> <span class="text-success" data-toggle="tooltip" data-original-title="Completed"><i class="fas fa-check-circle"></i></span> </div>
                                        <div class="col-3 col-sm-2 text-right text-4"> <span class="text-nowrap">{{ info.amount|intcomma }}</span> <span class="text-2 text-uppercase">({{info.cur}})</span> </div>
                                    </div>
                                </div>
                                <div id="t{{ info.ref_no }}" class="modal fade" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered transaction-details" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="row no-gutters">
                                                    <div class="col-sm-5 d-flex justify-content-center bg-primary rounded-left py-4">
                                                        <div class="my-auto text-center">
                                                            <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
                                                            <h3 class="text-4 text-white font-weight-400 my-3">Transactions</h3>
                                                            <div class="text-8 font-weight-500 text-white my-4">{{info.cur}} {{ info.amount|intcomma }}</div>
                                                            <p class="text-white">{{ info.date }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-7">
                                                        <h5 class="text-5 font-weight-400 m-3">Transaction Details
                                                            <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                                        </h5>
                                                        <hr>
                                                        <div class="px-3">
                                                            <ul class="list-unstyled">
                                                                <li class="mb-2">Payment Amount <span class="float-right text-3">{{info.cur}} {{ info.amount|intcomma }}</span></li>
                                                                <li class="mb-2">Fee <span class="float-right text-3">-{{info.cur}} {{ info.charges|intcomma }}</span></li>
                                                            </ul>
                                                            <hr class="mb-2">
                                                            <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount <span class="text-3 ml-auto">{{info.cur}} {{ info.amount|add:info.charges|intcomma }}</span></p>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Transaction Type:</li>
                                                                {% if info.receiver == user.username %}
                                                                    <li class="text-muted">Credit</li>
                                                                {% else %}
                                                                    <li class="text-muted">Debit</li>
                                                                {% endif %}
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Transaction ID:</li>
                                                                <li class="text-muted">{{ info.ref_no|upper }}</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Description:</li>
                                                                <li class="text-muted">{{ info.description }}</li>
                                                            </ul>
                                                            <ul class="list-unstyled">
                                                                <li class="font-weight-500">Status:</li>
                                                                <li class="text-muted">Completed</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Transaction List End -->

                        <!-- Transaction Item Details Modal
                        =========================================== -->
                        <!-- Transaction Item Details Modal End -->

                        <!-- View all Link
                        =============================== -->
                        <div class="text-center mt-4"><a href="/account/activity" class="btn-link text-3">View all<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
                        <!-- View all Link End -->

                    </div>
                    <!-- Recent Activity End -->
                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>