{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-white">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav alternate">
                <li class="nav-item"> <a class="nav-link active" href="/account/load">Deposit</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/withdraw">Withdraw</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3 mb-4">Deposit Money</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Deposit Money via {{ p_mode|upper }}</h3>
                        <!-- Deposit Money Confirm
                        ============================================= -->
                        <form>
                            <script src="https://js.paystack.co/v1/inline.js"></script>
                            <h3 class="text-5 font-weight-400 mb-3">Details</h3>
                            <p class="mb-1">Deposit Amount <span class="text-3 float-right">{{ amount|intcomma }} NGN</span></p>
                            <p class="mb-1">Fees <span class="text-3 float-right">{{ c_amt }} NGN</span></p>
                            <hr>
                            <p class="font-weight-500">Total<span class="text-3 float-right">{{ t_amt|intcomma }} NGN</span></p>
                            <button type="button" class="btn btn-primary btn-block" onclick="payWithPaystack()">Confirm</button>
                        </form>
                        <!-- Deposit Money Confirm end -->
                    </div>
                    <script>
                        function payWithPaystack(){
                            var handler = PaystackPop.setup({
                                key: '{{ api_pk }}',
                                email: '{{ email }}',
                                amount: {{ t_amt }} * 100,
                                currency: "NGN",
                                ref: '{{ ref_no }}',
                                metadata: {
                                    custom_fields: [
                                        {
                                            display_name: "{{ username }}",
                                            variable_name: "mobile_number",
                                            value: "{{ show }}"
                                        }
                                    ]
                                },
                                callback: function(){
                                    window.location = "payment"
                                },
                            });
                            handler.openIframe();
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>

</html>