{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->

    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">

                    <!-- Request Money Success
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center my-5">
                            <p class="text-center text-danger text-20 line-height-07"><i class="fas fa-check-circle"></i></p>
                            <p class="text-center text-danger text-8 line-height-07">Error!</p>
                            <p class="text-center text-4">Complete</p>
                        </div>
                        {% for messaage in messages %}
                            <p class="text-center text-3 mb-4">{{ messaage }}</p>
                        {% endfor %}
                        <a href="http://{{ request.get_host }}{{ url }}"><button class="btn btn-primary btn-block">Perform New Action</button></a>
                        <button class="btn btn-link btn-block"><i class="fas fa-print"></i> Print</button>
                    </div>
                    <!-- Request Money Success end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>

</html>