{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/bankTransfer">Transfer to Bank</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/transfer">Wallet Transfer</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/fastPay">Fast Pay</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    {% if userExist %}
        <div id="content" class="py-4">
    <div class="container">
      <h2 class="font-weight-400 text-center mt-3">Confirmation</h2>
      <p class="text-4 text-center mb-4">You are sending money to <span class="font-weight-500">{{show.last_name}} {{show.first_name}}</span></p>
      <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
          <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4"> 
            
            <!-- Send Money Confirm
            ============================================= -->
            <form id="form-send-money" method="POST">
                <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script>
              <h3 class="text-5 font-weight-400 mb-3">Details</h3>
              <p class="mb-1">Currency<span class="text-3 float-right">{{cur}}</span></p>
              <p class="mb-1">Amount (Foreign) <span class="text-3 float-right">{{amount|intcomma}}</span></p>
              <hr>
              <p class="font-weight-500">Amount (Local)<span class="text-3 float-right">{{total|intcomma}} NGN</span></p>
              <button class="btn btn-primary btn-block" onClick="payWithRave()" type="button">Send Money</button>
            </form>
            <!-- Send Money Confirm end --> 
          </div>
        </div>
      </div>
    </div>
  </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Instant fast Transfer</h2>
                <p class="text-4 text-center mb-4">Send money to any Bank in Nigeria anywhere.</p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3">Receiver's Details</h3>
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form id="" method="post" action="/account/fastPay">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Receiver's Mobile Number</label>
                                    <input type="number" value="" name="mobile" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Receiver's Mobile Number">
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Currency</label>
                                    <select class="custom-select" name="cur">
                                        <option value="USD">USD</option>
							            <option value="EUR">EUR</option>
							            <option value="GBP">GBP</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Amount</label>
                                    <input type="number" value="" name="amount" step="any" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Amount">
                                </div>
                                <button class="btn btn-primary btn-block">Continue</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->
    <script>
    const API_publicKey = "FLWPUBK_TEST-2ac37119277a38d125792249d252c982-X";

    function payWithRave() {
		var txt_id = "{{txt_id}}";
		var email = "{{user.email}}";
        var mobile = {{mobile}};
		var amt = {{amount}};
        var total = {{total}};
		var redirectUrl = "pay_success?paymentReference=" + txt_id + "&mobile=" + mobile + "&amount=" + amt + "&localAmount=" + total;
        var x = getpaidSetup({
            PBFPubKey: API_publicKey,
            customer_email: email,
            amount: amt,
            customer_phone: mobile,
            currency: "{{cur}}",
            country: "NG",
            txref: txt_id,
            meta: [{
                metaname: "flightID",
                metavalue: "AP1234"
            }],
            onclose: function() {},
            callback: function(response) {
                console.log(response);
				window.location=redirectUrl
                if (
                    response.data.chargeResponseCode == "00" ||
                    response.data.chargeResponseCode == "0"
                ) {
                    
                } else {
                    // redirect to a failure page.
                }

                x.close(); // use this to close the modal immediately after payment.
            }
        });
    }
</script>
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>