{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  <!-- Header
  ============================================= -->
  {% include 'header.html' %}
  <!-- Header End --> 
  
  <!-- Secondary menu
  ============================================= -->
  <div class="bg-white">
    <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav alternate">
        <li class="nav-item"> <a class="nav-link" href="/account/bankTransfer">Transfer to Bank</a></li>
        <li class="nav-item"> <a class="nav-link" href="/account/transfer">Wallet Transfer</a></li>
        <li class="nav-item"> <a class="nav-link active" href="/account/fastPay">Fast Pay</a></li>
        <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
      </ul>
    </div>
  </div>
  <!-- Secondary menu end --> 
  
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <h2 class="font-weight-400 text-center mt-3 mb-4">Fast Pay</h2>
      <div class="row">
        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto"> 
          
          <!-- Request Money Success
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
            <div class="text-center my-5">
              <p class="text-center text-success text-20 line-height-07"><i class="fas fa-check-circle"></i></p>
              <p class="text-center text-success text-8 line-height-07">Transactions Complete!</p>
              <p class="text-center text-4">{{first_name}} {{last_name}}</p>
            </div>
            <p class="text-center text-3 mb-4">You've successfully sent <span class="text-4 font-weight-500">{{cur}} {{ amount|intcomma }}</span> Fast Pay, See transaction details under <a href="/account/activity">Activity</a>.</p>
            <a href="/account/fastPay"><button class="btn btn-primary btn-block">Deposit Money Again</button></a>
            <button class="btn btn-link btn-block"><i class="fas fa-print"></i> Print</button>
          </div>
          <!-- Request Money Success end --> 
        </div>
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include 'footer.html' %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include 'foot.html' %}
</body>

</html>