{% load static %}
{% block main %}
    <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'vendor/owl.carousel/owl.carousel.min.js'%}"></script>
    <script src="{% static 'js/theme.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/moment.min.js'%}"></script>
    <script src="{% static 'vendor/daterangepicker/daterangepicker.js'%}"></script>
{% endblock %}