{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include "home/head.html" %}
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  
  <!-- Header
  ============================================= -->
  {% include "header.html" %}
  <!-- Header End --> 
  
  <!-- Secondary menu
  ============================================= -->
  <div class="bg-primary">
    <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav">
        <li class="nav-item"> <a class="nav-link active" href="/account/group_payment">Group</a></li>
        <li class="nav-item"> <a class="nav-link" href="#">All Group Member</a></li>
      </ul>
    </div>
  </div>
  <!-- Secondary menu end --> 
  
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3"> 
          
          <!-- Profile Details
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt=""></div>
                <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
              </div>
          <!-- Profile Details End --> 
          
          <!-- Available Balance
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                  <select class="custom-select">
                      <option>NGN {{ show.bal|intcomma }}</option>
                      <option>USD {{ show.usd_bal|intcomma }}</option>
                      <option>GBP {{ show.gbp_bal|intcomma }}</option>
                      <option>EUR {{ show.eur_bal|intcomma }}</option>
                  </select>
                  <hr class="mx-n3">
                  <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
          </div>
          <!-- Available Balance End --> 
          
          <!-- Need Help?
          =============================== -->
           {% if vendor == None %}
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                  <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                    <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                    <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                </div>
            {% else %}
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                  <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                    <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                      <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                </div>
            {% endif %}
          <!-- Need Help? End --> 
          
        </aside>
        <!-- Left Panel End -->
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">
          
          <!-- Credit or Debit Cards
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
          {% for message in messages %}
              {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                  <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Warning - </strong> {{ message }}
                  </div>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                  <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Success - </strong> {{ message }}
                  </div>
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                  <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                      </button>
                      <strong>Error - </strong> {{ message }}
                  </div>
              {% endif %}
          {% endfor %}
            <h3 class="text-5 font-weight-400 mb-4">All Your Group <span class="text-muted text-4">(for payments)</span></h3>
            <div class="row">
            {% for grp in all_group %}
              <div class="col-12 col-sm-6 col-lg-4" style="padding-top: 30px;">
                <div class="account-card text-white rounded p-3 mb-4 mb-lg-0">
                  <p class="text-4">{{ grp.group_name }}</p>
                  <p class="d-flex align-items-center"> <span class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2"><br><br>
                    </span> <span class="text-4 opacity-9"></span> </p>
                  <p class="d-flex align-items-center m-0"> <span class="text-uppercase font-weight-500">{{ grp.date_created }}</span></p>
                  <div class="account-card-overlay rounded"> 
                  <a href="#" data-target="#ab{{ grp.id }}" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-money-check"></i></span>Pay</a>
                  <a href="#" data-target="#a{{ grp.id }}" data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-edit"></i></span>Add</a>
                  <a href="/account/view_group_member/{{ grp.id }}" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-edit"></i></span>View</a>  
                  <a href="#" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> 
                  </div>
                </div>
              </div>
              <div id="a{{ grp.id }}" class="modal fade" role="dialog" aria-hidden="true">
            
            
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Add User to Group</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="updateCard" method="post" action="/account/add_member">
                    {% csrf_token %}
                    <input type="hidden" value="{{ grp.id }}" name="group_id">
                    <input type="hidden" value="{{ grp.group_creator_id }}" name="g_creator_id">
                    <div class="form-group">
                      <label for="editcardHolderName">jCollect Mobile Number</label>
                      <input type="number" class="form-control" name="mobile_no" data-bv-field="editcardHolderName" id="editcardHolderName" required value="Smith Rhodes" placeholder="Enter jCollect Mobile Number">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Add to Group</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="ab{{ grp.id }}" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Amount to Send</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="updateCard" method="post" action="/account/pay_group">
                    {% csrf_token %}
                    <input type="hidden" value="{{ grp.id }}" name="group_id">
                    <input type="hidden" value="{{ grp.group_creator_id }}" name="g_creator_id">
                    <div class="form-group">
                      <label for="editcardHolderName">Amount</label>
                      <input type="number" class="form-control" name="amount" data-bv-field="editcardHolderName" id="editcardHolderName" required placeholder="Enter Amount">
                    </div>
                    <div class="form-group">
                      <label for="editcardHolderName">Payment Description</label>
                      <textarea class="form-control" name="desc" placeholder="Enter Description"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Pay Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
              <div class="col-12 col-sm-6 col-lg-4" style="padding-top: 30px;"> <a href="#" data-target="#add-new-card-details" data-toggle="modal" class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i class="fas fa-plus-circle"></i></span> <span class="d-block text-body text-3">Create New Group</span> </p>
                </a> </div>
            </div>
          </div>
          <div align="center">
              <ul class="pagination justify-content-center mt-4 mb-0">
                    {% if all_group.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_group.previous_page_number }}" tabindex="-1">Previous</a>
                        </li>
                    {% endif %}
                        <li class="page-item active">
                            <a class="page-link" href="#">Page {{ all_group.number }} of {{ all_group.paginator.num_pages }}</a>
                            </li>
                    {% if show.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_group.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ all_group.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
          </div>
          <!-- Edit Card Details Modal
          ================================== -->
          <div id="edit-card-details" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Update Card</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="updateCard" method="post">
                    <div class="form-group">
                      <label for="edircardNumber">Card Number</label>
                      <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text"><img class="ml-auto" src="images/payment/visa.png" alt="visa" title=""></span> </div>
                        <input type="text" class="form-control" data-bv-field="edircardNumber" id="edircardNumber" disabled value="XXXXXXXXXXXX4151" placeholder="Card Number">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="editexpiryDate">Expiry Date</label>
                          <input id="editexpiryDate" type="text" class="form-control" data-bv-field="editexpiryDate" required value="07/24" placeholder="MM/YY">
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label for="editcvvNumber">CVV <span class="text-info ml-1" data-toggle="tooltip" data-original-title="For Visa/Mastercard, the three-digit CVV number is printed on the signature panel on the back of the card immediately after the card's account number. For American Express, the four-digit CVV number is printed on the front of the card above the card account number."><i class="fas fa-question-circle"></i></span></label>
                          <input id="editcvvNumber" type="password" class="form-control" data-bv-field="editcvvNumber" required value="321" placeholder="CVV (3 digits)">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="editcardHolderName">Card Holder Name</label>
                      <input type="text" class="form-control" data-bv-field="editcardHolderName" id="editcardHolderName" required value="Smith Rhodes" placeholder="Card Holder Name">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Update Card</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Add New Card Details Modal
          ================================== -->
          <div id="add-new-card-details" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-400">Add Group</h5>
                  <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body p-4">
                  <form id="addCard" method="post" action="/account/add_group">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="cardNumber">Group Name</label>
                      <input type="text" class="form-control" name="group_name" data-bv-field="cardnumber" id="cardNumber" required value="" placeholder="Enter Group Name">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Add Group</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- Credit or Debit Cards End -->
          
          <!-- Bank Accounts
          ============================================= -->
          <!-- Bank Accounts End -->
          
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
 {% include "footer.html" %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include "foot.html" %}
<script>
$(function() {
 'use strict';
  // Birth Date
  $('#birthDate').daterangepicker({
	singleDatePicker: true,
	"showDropdowns": true,
	autoUpdateInput: false,
	maxDate: moment().add(0, 'days'),
	}, function(chosen_date) {
  $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
  });
  });
</script> 
<script src="js/theme.js"></script>
</body>
</html>