{% load static %}
{% block main %}
    <header class="top-header-area d-flex align-items-center justify-content-between">
        <div class="left-side-content-area d-flex align-items-center">
            <!-- Mobile Logo -->
            <div class="mobile-logo mr-3 mr-sm-4">
                <a href="/account/dashboard">
                    <img src="{% static 'img/core-img/jcollect.png'%}" alt="Mobile Logo"></a>
            </div>

            <!-- Triggers -->
            <div class="ecaps-triggers mr-1 mr-sm-3">
                <div class="menu-collasped" id="menuCollasped">
                    <i class="zmdi zmdi-menu"></i>
                </div>
                <div class="mobile-menu-open" id="mobileMenuOpen">
                    <i class="zmdi zmdi-menu"></i>
                </div>
            </div>
            <!-- Left Side Nav -->
        </div>

        <div class="right-side-navbar d-flex align-items-center justify-content-end">
            <!-- Mobile Trigger -->
            <div class="right-side-trigger" id="rightSideTrigger">
                <i class="ti-align-left"></i>
            </div>

            <!-- Top Bar Nav -->
            <ul class="right-side-content d-flex align-items-center">
                <!-- Full Screen Mode -->

                <li class="nav-item dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="zmdi zmdi-account-circle" aria-hidden="true"></i>{{ user.first_name }}</button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!-- User Profile Area -->
                        <div class="user-profile-area">
                            <div class="user-profile-heading">
                                <!-- Thumb -->
                                <div class="profile-img">
                                    <i class="zmdi zmdi-account profile-icon bg-primary" aria-hidden="true"></i>
                                </div>
                                <!-- Profile Text -->
                                <div class="profile-text">
                                    <h6>{{ user.last_name }} {{ user.first_name }}</h6>
                                    <span>Username: {{ user.username }}</span>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="/super/home" target="_blank" class="dropdown-item"><i class="zmdi zmdi-account-circle profile-icon bg-info" aria-hidden="true"></i> Admin Dashboard</a>
                                    <a href="/account/settings" class="dropdown-item"><i class="zmdi zmdi-wrench profile-icon bg-info" aria-hidden="true"></i> Account settings</a>
                                    <a href="/account/ticket" class="dropdown-item"><i class="zmdi zmdi-account-box-mail profile-icon bg-purple" aria-hidden="true"></i> Support</a>
                                    <a href="/password_change" class="dropdown-item"><i class="zmdi zmdi-lock-outline profile-icon bg-info" aria-hidden="true"></i> Change Password</a>
                                    <a href="/account/logout" class="dropdown-item"><i class="ti-unlink profile-icon bg-warning" aria-hidden="true"></i> Sign-out</a>
                                {% else %}
                                    <a href="/account/settings" class="dropdown-item"><i class="zmdi zmdi-wrench profile-icon bg-info" aria-hidden="true"></i> Account settings</a>
                                    <a href="/account/ticket" class="dropdown-item"><i class="zmdi zmdi-account-box-mail profile-icon bg-purple" aria-hidden="true"></i> Support</a>
                                    <a href="/password_change" class="dropdown-item"><i class="zmdi zmdi-lock-outline profile-icon bg-info" aria-hidden="true"></i> Change Password</a>
                                    <a href="/account/logout" class="dropdown-item"><i class="ti-unlink profile-icon bg-warning" aria-hidden="true"></i> Sign-out</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
{% endblock %}