{% load static %}
{% block main %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>jCollect - Easy way to make Payment online</title>

    <!-- Favicon -->
    <link rel="icon" href="{% static 'home/images/favicon.png'%}">

    <!-- These plugins only need for the run this page -->
    <link rel="stylesheet" href="{% static 'css/default-assets/datatables.bootstrap4.css'%}">
    <link rel="stylesheet" href="{% static 'css/default-assets/responsive.bootstrap4.css'%}">
    <link rel="stylesheet" href="{% static 'css/default-assets/buttons.bootstrap4.css'%}">
    <link rel="stylesheet" href="{% static 'css/default-assets/select.bootstrap4.css'%}">
    <link rel="stylesheet" href="{% static 'css/default-assets/notification.css'%}">
    <link rel="stylesheet" href="{% static 'css/default-assets/summernote.css'%}">

    <!-- Master Stylesheet [If you remove this CSS file, your file will be broken undoubtedly.] -->
    <link rel="stylesheet" href="{% static 'style.css'%}">

</head>
{% endblock %}