{% load static %}
{% block main %}
    {% load humanize %}
    <header id="header">
        <div class="container">
            <div class="header-row">
                <div class="header-column justify-content-start">
                    <!-- Logo
                    ============================= -->
                    <div class="logo"> <a class="d-flex" href="/account/dashboard" title="jCollect"><img src="{% static 'images/logo.png'%}" alt="Payyed" /></a> </div>
                    <!-- Logo end -->
                    <!-- Collapse Button
                    ============================== -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button>
                    <!-- Collapse Button end -->

                    <!-- Primary Navigation
                    ============================== -->
                    <nav class="primary-menu navbar navbar-expand-lg">
                        <div id="header-nav" class="collapse navbar-collapse">
                            <ul class="navbar-nav mr-auto">
                                <li><a href="/account/activity">Transactions</a></li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Send Money</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/transfer">Wallet-to-Wallet</a></li>
                                        <li class="dropdown"><a href="/account/bankTransfer">Wallet-to-Bank</a></li>
                                        <li class="dropdown"><a href="/account/fastPay">Fast Pay</a></li>
                                    </ul>
                                </li>
                                <li><a href="/account/deposit">Deposit</a></li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Withdraw</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/withdraw">Withdraw Money</a></li>
                                        <li class="dropdown"><a href="/account/withdrawal_history">Withdrawal History</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Voucher</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/voucher">Create Voucher</a></li>
                                        <li class="dropdown"><a href="/account/load_voucher">Redeem Voucher</a></li>
                                        <li class="dropdown"><a href="/account/all_voucher">All Voucher</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Utility</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/mobileData">Buy Data</a></li>
                                        <li class="dropdown"><a href="/account/tvPayment">TV Subscription</a></li>
                                        <li class="dropdown"><a href="/account/airtimeRecharge">Airtime</a></li>
                                        <li class="dropdown"><a href="/account/power">Electricity</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Services</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Bulk Payment</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/account/upload_csv">Upload</a></li>
                                                <li><a class="dropdown-item" href="/account/bulk-payment">All Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown"><a href="/account/customer">Customer</a></li>
                                        <li class="dropdown"><a href="/account/virtual_card">Load E-Card</a></li>
                                        <li class="dropdown"><a href="/account/group_payment">Group Payment</a></li>
                                    </ul>
                                </li>
                                <li><a href="/account/ticket">Help</a></li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Invoice</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/invoice">Create Invoice</a></li>
                                        <li class="dropdown"><a href="/account/all-invoice">All Invoice</a></li>
                                        <li class="dropdown"><a href="/account/pay_invoice">Pay Invoices</a></li>
                                        <li class="dropdown"><a href="/account/paid_invoice">Paid Invoices</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"> <a class="dropdown-toggle" href="#">Settings</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown"><a href="/account/bank">Add/View Account</a></li>
                                        <li class="dropdown"><a href="/account/profile">Profile</a></li>
                                        <li class="dropdown"><a href="/password_change">Change Password</a></li>
                                        <li class="dropdown"><a href="/account/merchant">Merchant Area</a></li>
                                        <li class="dropdown"><a href="/account/kyc">KYC</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Primary Navigation end -->
                </div>
                <div class="header-column justify-content-end">
                    <!-- Login & Signup Link
                    ============================== -->
                    <nav class="login-signup navbar navbar-expand">
                        <ul class="navbar-nav">
                            <li>
                                <a class="btn btn-outline-primary" href="/account/logout">logout</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Login & Signup Link end -->
                </div>
            </div>
        </div>
    </header>
{% endblock %}