{% load static %}
{% load humanize %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    {% include 'home/head.html' %}
    <body>
    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">
        <!-- Header
        ============================================= -->
        {% include 'header.html' %}
        <!-- Header End -->

        <!-- Secondary menu
        ============================================= -->
        <div class="bg-primary">
            <div class="container d-flex justify-content-center">
                <ul class="nav secondary-nav">
                    <li class="nav-item"> <a class="nav-link" href="/account/transfer">Transfer</a></li>
                    <li class="nav-item"> <a class="nav-link active" href="/account/invoice">Create Invoice</a></li>
                </ul>
            </div>
        </div>
        <!-- Secondary menu end -->

        <!-- Content
        ============================================= -->
        {% if check_user %}
            <div id="content" class="py-4">
                <div class="container">
                    <h2 class="font-weight-400 text-center mt-3">Invoice</h2>
                    <p class="text-4 text-center mb-4">You are requesting money from <span class="font-weight-500">{{ check.first_name }} {{ check.last_name }}</span></p>
                    <div class="row">
                        <div class="col-md-8 col-lg-6 mx-auto">
                            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                                <!-- Request Money Confirm Details
                                ============================================= -->
                                <h3 class="text-5 font-weight-400 mb-3">Confirm Details</h3>
                                <form id="form-send-money" method="post" action="invoice">
                                    {% csrf_token %}
                                    <input type="hidden" name="s_username" class="form-control" value="{{ user.username }}">
                                    <input type="hidden" name="phone" class="form-control" value="{{ check.phone_no }}">
                                    <div class="form-group">
                                        <label for="amount">Amount</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
                                            <input type="number" name="amount" step="any" class="form-control" data-bv-field="amount" id="amount" placeholder="Enter Amount">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Due Date</label>
                                        <div class="input-group">
                                            <input type="date" name="date" class="form-control" data-bv-field="amount" id="amount" placeholder="Enter Due Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="amount">Time</label>
                                        <div class="input-group">
                                            <input type="time" name="time" class="form-control" data-bv-field="amount" id="amount" placeholder="Enter Due Date">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Your Comment</label>
                                        <textarea class="form-control" name="content" rows="4" id="description" required placeholder="Payment Description"></textarea>
                                    </div>
                                    <button class="btn btn-primary btn-block">Send Invoice</button>
                                </form>
                                <!-- Request Money Confirm Details end -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div id="content" class="py-4">
                <div class="container">
                    <h2 class="font-weight-400 text-center mt-3">Create Invoice</h2>
                    <p class="text-4 text-center mb-4">Request your payment on anytime, anywhere in the world.</p>
                    <div class="row">
                        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                                <h3 class="text-5 font-weight-400 mb-3">Payer Details</h3>
                                {% for message in messages %}
                                    {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>Warning - </strong> {{ message }}
                                        </div>
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                        <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>Success - </strong> {{ message }}
                                        </div>
                                    {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                        <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <strong>Error - </strong> {{ message }}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <!-- Request Money Form
                                ============================================= -->
                                <form id="form-send-money" method="post" action="invoice_verify">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="payerName">Payer Phone Number</label>
                                        <input type="text" value="" name="phone" class="form-control" data-bv-field="payerName" id="payerName" required placeholder="Enter Payer Phone Number">
                                    </div>
                                    <button class="btn btn-primary btn-block mt-4">Continue</button>
                                </form>
                                <!-- Request Money Form end -->
                            </div><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    {% include 'foot.html' %}
    <script>
        $(function() {
            'use strict';
            // Payment due by
            $('#paymentDue').daterangepicker({
                singleDatePicker: true,
                minDate: moment(),
                autoUpdateInput: false,
            }, function(chosen_date) {
                $('#paymentDue').val(chosen_date.format('MM-DD-YYYY'));
            });
        });
    </script>
    <script src="js/theme.js"></script>
    </body>

    <!-- Mirrored from demo.harnishdesign.net/html/payyed/request-money.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 30 Oct 2019 07:56:46 GMT -->
    </html>
{% endblock %}