<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>
<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link active" href="/account/transfer">Transfer</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3">Know Your Customer</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                {% if show %}
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center my-5">
                        {% if status == False %}
                            <p class="text-center text-warning text-20 line-height-07"><i class="fas fa-exclamation-triangle"></i></p>
                            <p class="text-center text-warning text-8 line-height-07">Pending</p>
                            <p class="text-center text-4">Pending Approval!</p>
                        {% else %}
                            <p class="text-center text-success text-20 line-height-07"><i class="fas fa-exclamation-triangle"></i></p>
                            <p class="text-center text-success text-8 line-height-07">Approved</p>
                            <p class="text-center text-4">KYC Approved</p>
                        {% endif %}
                        </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <!-- Request Money Form
                        ============================================= -->
                        <form id="form-send-money" method="post" action="/account/kyc" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="payerName">Home Address</label>
                                <input type="text" name="address" class="form-control" data-bv-field="payerName" id="payerName" placeholder="Enter Home Address">
                            </div>
                            <div class="form-group">
                                <label for="emailID">Means of Identification</label>
                                <select class="custom-select" name="idm">
                                    <option value="">Select Means of ID</option>
                                    <option value="passport">Int'l Passport</option>
                                    <option value="driver">Driver's Licence</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="emailID">ID No</label>
                                <input type="text" name="idno" class="form-control" data-bv-field="emailid" id="emailID" placeholder="Enter ID No">
                            </div>
                            <div class="form-group">
                                <label for="address">Upload Means of Identification</label>
                                <input type="file" name="mid" class="form-control" id="address" required >
                            </div>
                            <button class="btn btn-primary btn-block mt-4" type="submit">Submit</button>
                        </form>
                        <!-- Request Money Form end -->
                    </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
<script>
    $(function() {
        'use strict';
        // Payment due by
        $('#paymentDue').daterangepicker({
            singleDatePicker: true,
            minDate: moment(),
            autoUpdateInput: false,
        }, function(chosen_date) {
            $('#paymentDue').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
</body>
</html>