{% load static %}
{% load humanize %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    {% include 'home/head.html' %}
    <body>
    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">
        <!-- Header
        ============================================= -->
        {% include 'header.html' %}
        <!-- Header End -->

        <!-- Secondary menu
        ============================================= -->
        <div class="bg-primary">
            <div class="container d-flex justify-content-center">
                <ul class="nav secondary-nav">
                    <li class="nav-item"> <a class="nav-link" href="/account/voucher">Create Voucher</a></li>
                    <li class="nav-item"> <a class="nav-link active" href="/account/invoice">Redeem Voucher</a></li>
                </ul>
            </div>
        </div>
        <!-- Secondary menu end -->

        <!-- Content
        ============================================= -->
            <div id="content" class="py-4">
                <div class="container">
                    <h2 class="font-weight-400 text-center mt-3">Redeem Voucher</h2>
                    <p class="text-4 text-center mb-4">Send Voucher to your love one anywhere in the world.</p>
                    <div class="row">
                        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                                <h3 class="text-5 font-weight-400 mb-3">Voucher Details</h3>
                                <!-- Request Money Form
                                ============================================= -->
                                <form id="form-send-money" method="post" action="/account/load_voucher">
                                    {% csrf_token %}
                                     <div class="form-group">
                                        <label for="amount">Voucher PIN</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text">PIN</span> </div>
                                            <input type="hidden" name="l_username" class="form-control" value="{{ user.username }}">
                                            <input type="number" name="v_code" step="any" class="form-control" data-bv-field="amount" id="amount" placeholder="Enter Voucher PIN">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block mt-4">Redeem</button>
                                </form>
                                <!-- Request Money Form end -->
                            </div><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    {% include 'foot.html' %}
    <script>
        $(function() {
            'use strict';
            // Payment due by
            $('#paymentDue').daterangepicker({
                singleDatePicker: true,
                minDate: moment(),
                autoUpdateInput: false,
            }, function(chosen_date) {
                $('#paymentDue').val(chosen_date.format('MM-DD-YYYY'));
            });
        });
    </script>
    </body>
    </html>
{% endblock %}