<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-white">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav alternate">
                <li class="nav-item"> <a class="nav-link active" href="/account/load">Deposit</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/withdraw">Withdraw</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3 mb-4">Deposit Money</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">

                        <!-- Deposit Money Form
                        ============================================= -->
                        <form id="form-send-money" method="post" action="/account/load">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="youSend">Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
                                    <input type="number" name="amount" class="form-control" data-bv-field="youSend" id="youSend" placeholder="1,000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="paymentMethod">Payment Method</label>
                                <select id="cardType" name="p_mode" class="custom-select" required="">
                                    <option value="">Select Payment Method</option>
                                    <option value="paystack">PayStack</option>
                                    <option value="airtime">Airtime</option>
                                    <option value="monify">Monify</option>
                                </select>
                            </div>
                            <p class="text-muted mt-4">Transactions fees <span class="float-right d-flex align-items-center"><del>1.00 USD</del> <span class="bg-success text-1 text-white font-weight-500 rounded d-inline-block px-2 line-height-4 ml-2">Free</span></span></p>
                            <hr>
                            <button class="btn btn-primary btn-block">Continue</button>
                        </form>
                        <!-- Deposit Money Form end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>