{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary Menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link active" href="/account/profile">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/bank">Cards & Bank Accounts</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Notifications</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary Menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4">
                            <img class="rounded-circle" src="{{ s_show.bus_logo.url }}" height="150" width="150" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">{{ s_show.bus_name }}</p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    {% if vendor == None %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% else %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% endif %}
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
                        <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
                        <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
                            Our experts are here to help!.</p>
                        <a href="#" class="btn btn-primary btn-block">Chate with Us</a> </div>
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Warning - </strong> {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Success - </strong> {{ message }}
                            </div>
                        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <strong>Error - </strong> {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <!-- Personal Details
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Business Details <a href="#edit-personal-details" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Register Business</a></h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3"> Business Name</p>
                            <p class="col-sm-9">{{ s_show.bus_name }}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Business Website</p>
                            <p class="col-sm-9">{{ s_show.bus_website }}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Address</p>
                            <p class="col-sm-9">{{ s_show.bus_address }}<br></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email</p>
                            <p class="col-sm-9">{{ s_show.bus_email }}<br></p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Become Merchant</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="personaldetails" enctype="multipart/form-data" method="post" action="merchant_i">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="firstName">Business Name</label>
                                                    <input type="text" value="{{ s_show.bus_name }}" class="form-control" name="b_name" data-bv-field="firstName" id="firstName" required>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="fullName">Phone Number</label>
                                                    <input type="tel" value="{{ show }}" name="b_tel" class="form-control" data-bv-field="fullName" id="fullName" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Address</label>
                                                    <input type="text" name="b_address" value="{{ s_show.bus_address }}" class="form-control" data-bv-field="address" id="address" required placeholder="Business Address">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Email</label>
                                                    <input type="email" name="b_email" value="{{ s_show.bus_email }}" class="form-control" data-bv-field="address" id="address" required placeholder="Business Email">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Business Website</label>
                                                    <input type="url" name="b_url" value="{{ s_show.bus_website }}" class="form-control" data-bv-field="address" id="address" required placeholder="Business Address">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Business Logo</label>
                                                    <input type="file" name="bus_logo" class="form-control" id="address" required >
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Details End -->

                    <!-- Account Settings
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Business Settings
                            <a href="#charges" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i> Charges Mode</a><br><br>
                            <a href="#integration" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Integration</a>
                        </h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Charges</p>
                            <p class="col-sm-9"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> {{ w_p_charges }}</span></p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Status</p>
                            {% if i_mode == "live" %}
                                <p class="col-sm-9"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Live</span></p>
                            {% else %}
                                <p class="col-sm-9"><span class="bg-danger text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Test</span></p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="charges" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Who Pay for Charges?</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="accountSettings" method="post" action="w_pay">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="language">Who Pay</label>
                                                    <select class="custom-select" id="language" name="w_pay">
                                                        <option>Select Who Pays</option>
                                                        <option value="merchant">Merchant</option>
                                                        <option value="customer">Customer</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="integration" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Integration Mode</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="accountSettings" method="post" action="int_mode">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{ user.username }}" class="form-control" >
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="language">Language</label>
                                                    <select class="custom-select" id="language" name="int_mode">
                                                        <option>Select Integration Mode</option>
                                                        <option value="live">Live Mode</option>
                                                        <option value="test">Test Mode</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Account Settings End -->

                    <!-- Email Addresses
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Email Addresses</h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID <span class="text-muted font-weight-500">(Primary)</span></p>
                            <p class="col-sm-9">{{ s_show.bus_email }}</p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <!-- Email Addresses End -->

                    <!-- Phone
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Phone</h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile <span class="text-muted font-weight-500">(Primary)</span></p>
                            <p class="col-sm-9">{{ show }}</p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <!-- Phone End -->

                    <!-- Security
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4">
                        <h3 class="text-5 font-weight-400 mb-3">Merchant API
                            <a href="#change-password" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Get Your API</a>
                        </h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
                                <label class="col-form-label">Live Api</label>
                            </p>
                            <p class="col-sm-9">
                                <input type="text" class="form-control-plaintext" data-bv-field="password" id="password" value="{{ s_show.api_test_key }}">
                            </p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="change-password" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Get You API</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="changePassword" method="post" action="api">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{ user.username }}" class="form-control" readonly>
                                        <button class="btn btn-primary btn-block mt-4" type="submit">Generate API</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Security End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
<script>
    $(function() {
        'use strict';
        // Birth Date
        $('#birthDate').daterangepicker({
            singleDatePicker: true,
            "showDropdowns": true,
            autoUpdateInput: false,
            maxDate: moment().add(0, 'days'),
        }, function(chosen_date) {
            $('#birthDate').val(chosen_date.format('MM-DD-YYYY'));
        });
    });
</script>
</body>
</html>