{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Confirm
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <p class="text-4 text-center alert alert-info">You are Sending money <br>
                            to<br>
                            <span class="font-weight-500">{{ f_name }}</span></p>
                        <p class="mb-2 mt-4">Amount to Send <span class="text-3 float-right">{{ am|intcomma }}</span></p>
                        <p class="text-muted">Transactions fees <span class="float-right d-flex align-items-center">{{ c_amt }}</span></p>
                        <hr>
                        <p class="font-weight-500">Total<span class="text-3 float-right">{{ t_amt|intcomma }}</span></p>
                        <form>
                            <script src="https://js.paystack.co/v1/inline.js"></script>
                            <button class="btn btn-primary btn-block" type="button" onclick="payWithPaystack()">Pay Now</button>
                        </form>
                    </div>
                    <script>
                        function payWithPaystack(){
                            var handler = PaystackPop.setup({
                                key: '{{ api_pk }}',
                                email: '{{ s_email }}',
                                amount: (({{ amount }} + {{ c_amt }}) * 100),
                                currency: "NGN",
                                ref: '{{ ref_no }}',
                                metadata: {
                                    custom_fields: [
                                        {
                                            display_name: "{{ sender }}",
                                            variable_name: "mobile_number",
                                            value: "{{ phone }}"
                                        }
                                    ]
                                },
                                callback: function(){
                                    window.location = "success"
                                },
                                onClose: function(){
                                    alert('window closed');
                                }
                            });
                            handler.openIframe();
                        }
                    </script>
                    <!-- Withdraw Money Confirm end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>