{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Form
                    ============================================= -->
                    <br><br><br><br><br><br>
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center bg-primary p-4 rounded mb-4">
                            <div class="profile-thumb mt-3 mb-4">
                                <img class="rounded-circle" src="{{ logo.bus_logo.url }}" height="100" width="100" alt="">
                            </div>
                            <h3 class="text-white-5 text-white font-weight-400">{{ show_merchant }}</h3>
                            <a href="#" class="btn btn-outline-light btn-sm shadow-none text-uppercase rounded-pill text-1">
                                ₦ {{ amount|intcomma }}
                                {% if mode == 'customer' %}
                                    + {{ c_amt|intcomma }}
                                {% else %}
                                {% endif %}
                            </a> </div>
                        <form id="form-send-money" method="post" action="/pay/initiate">
                            {% csrf_token %}
                            <input type="hidden" name="amount" value="{{ amount }}">
                            <input type="hidden" name="merchant" value="{{ m_username }}">
                            <input type="hidden" name="callback" value="{{ callback }}">
                            <div class="form-group">
                                <label for="youSend">Mobile Number</label>
                                <div class="input-group">
                                    <input type="number" name="phone" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Your Mobile Number">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Password</label>
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Your Password">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block">Pay Now</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Form end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>