{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/mobileData">Mobile Data</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/tvPayment">TV Subscription</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/power">Electricity</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/airtimeRecharge">Airtime</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    
    ============================================= -->
    {% if cus_name %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Customer Details</h2>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">

                            <!-- Send Money Confirm
                            ============================================= -->
                            <form id="post-form" method="post">
                                {% csrf_token %}
                                <input type="hidden" value={{m_no}} id="m_no" name="m_no" class="form-control">
                                <input type="hidden" id="plan" name="plan" value="{{plan}}" />
                                <input type="hidden" id="sub" name="sub" value="{{sub}}" />
                                <p class="mb-1">Customer Name <span class="text-3 float-right">{{ cus_name }}</span></p>
                                <p class="mb-1">Meter Number <span class="text-3 float-right">{{ m_no }}</span></p>
                                <p class="mb-1">Customer District <span class="text-3 float-right">{{ cus_dist }}</span></p>
                                <hr>
                                <div class="form-group">
                                    <label for="emailID">Amount</label>
                                    <input type="number" id="amount" name="amount" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Meter Number" required>
                                </div>
                                <hr>
                                <button type="submit" class="btn btn-primary btn-block">Buy Now</button>
                            </form>
                            <!-- Send Money Confirm end -->
                        </div><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Buy Power</h2>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <h3 class="text-5 font-weight-400 mb-3"></h3>
                            <form method="post" action="/account/power">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Subscriber</label>
                                    <select class="custom-select" id="sub" name="sub">
                                        <option>Select Subscriber</option>
                                        <option value="ikeja-electric">IKEDC – Ikeja Electric</option>
                                        <option value="eko-electric">EKEDC – Eko Electricity</option>
                                        <option value="kano-electric">KEDCO – Kano Electricity</option>
                                        <option value="portharcourt-electric">PHED – Port Harcourt Electric</option>
                                        <option value="jos-electric">JED – Jos Electricity</option>
                                        <option value="ibadan-electric">IBEDC – Ibadan Electricity</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Electricity Plan</label>
                                    <select class="custom-select" id="plan" name="plan" required>
                                        <option>Select Plan</option>
                                        <option value="postpaid">Postpaid</option>
                                        <option value="prepaid">Prepaid</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Meter number</label>
                                    <input type="number" id="m_no" name="m_no" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Meter Number" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Confirm</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->
<script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/account/powerConfirm',
                data:{
                    sub:$('#sub').val(),
                    plan:$('#plan').val(),
                    m_no:$('#m_no').val(),
                    amount:$('#amount').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        swal({
                            title: "Thank You!",
                            text: "Transaction Successful!",
                            icon: "success",
                            type: "success"
                            }).then(function() {
                                window.location = "dashboard";
                            });
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>