{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary Menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link active" href="/account/profile">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/bank">Cards & Bank Accounts</a></li>
                <li class="nav-item"> <a class="nav-link" href="#">Notifications</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary Menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">

                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <select class="custom-select">
                            <option>NGN {{ bal.bal|intcomma }}</option>
                            <option>USD {{ bal.usd_bal|intcomma }}</option>
                            <option>GBP {{ bal.gbp_bal|intcomma }}</option>
                            <option>EUR {{ bal.eur_bal|intcomma }}</option>
                        </select>
                        <hr class="mx-n3">
                        <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">

                    <!-- Personal Details
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Personal Details <a href="#edit-personal-details" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i class="fas fa-edit mr-1"></i>Edit</a></h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                            <p class="col-sm-9">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Customer ID</p>
                            <p class="col-sm-9">{{ cus_id }}<br>
                        </div>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Phone Number</p>
                            <p class="col-sm-9">{{ show }}<br>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Personal Details</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="personaldetails" method="post">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="firstName">First Name</label>
                                                    <input type="text" value="{{ user.first_name }}" class="form-control" data-bv-field="firstName" id="firstName" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="fullName">Last Name</label>
                                                    <input type="text" value="{{ user.last_name }}" class="form-control" data-bv-field="fullName" id="fullName" readonly>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="address">Email Address</label>
                                                    <input type="text" value="{{ user.email }}" class="form-control" data-bv-field="address" id="address" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Personal Details End -->

                    <!-- Account Settings
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Account Settings</h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Account Status</p>
                            {% if status == "hold" %}
                                <p class="col-sm-9">
                                    <span class="bg-danger text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Hold</span></p>
                            {% else %}
                                <p class="col-sm-9">
                                    <span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i class="fas fa-check-circle"></i> Active</span></p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <div id="edit-account-settings" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Account Settings</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Account Settings End -->

                    <!-- Email Addresses
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <h3 class="text-5 font-weight-400 mb-3">Email Addresses</h3>
                        <div class="row">
                            <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID <span class="text-muted font-weight-500">(Primary)</span></p>
                            <p class="col-sm-9">{{ user.email }}</p>
                        </div>
                    </div>
                    <!-- Edit Details Modal
                    ================================== -->
                    <!-- Email Addresses End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>