{% load static %}

<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/mobileData">Mobile Data</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/tvPayment">TV Subscription</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/power">Electricity</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/airtimeRecharge">Airtime</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Buy Airtime</h2>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3"></h3>
                            <form method="post" id="post-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Network</label>
                                    <select class="custom-select" name="network" id="network">
                                        <option>Select Network</option>
                                        <option value="mtn">MTN</option>
                                        <option value="glo">Glo</option>
                                        <option value="airtel">Airtel</option>
                                        <option value="etisalat">9Mobile</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Mobile Number</label>
                                    <input type="number" value="" id="mobile" name="mobile" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Recipient Number">
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Amount</label>
                                    <input type="number" value="" id="amount" name="amount" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Amount">
                                </div>
                                <button type="submit" class="btn btn-primary btn-block">Buy Airtime</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    <!-- Content end -->
    <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
      <script src="{% static 'js/sweetalert.min.js'%}"></script>
      <script type="text/javascript">
            $(document).on('submit', '#post-form',function(e){
                e.preventDefault();
                $.ajax({
                type:'POST',
                url:'/account/airtimeRecharge',
                data:{
                    mobile:$('#mobile').val(),
                    amount:$('#amount').val(),
                    network:$('#network').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        document.getElementById("post-form").reset();
                       swal("Transaction!", "Successful", "success");
                    },
                    error : function(data) {
                            document.getElementById("post-form").reset();
                            swal("Error!!", "Please Try again", "error");
                        }
                    });
                });
      </script>
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>