<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">

    <!-- Header
    ============================================= -->
    {% include 'home/header.html' %}
    <!-- Header End -->

    <!-- Content
    ============================================= -->
    <div id="content">
        <div class="login-signup-page mx-auto my-5">
            <h3 class="font-weight-400 text-center">Sign Up</h3>
            <p class="lead text-center">Your Sign Up information is safe with us.</p>
            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                                    <div class="alert alert-success alert-dismissible bg-success text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Success - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
            <div class="bg-light shadow-md rounded p-4 mx-2">
                <form id="signupForm" method="post" action="/account/register">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fullName">First Name</label>
                        <input type="text" class="form-control" id="fullName" name="first_name" required placeholder="Enter Your First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Last Name</label>
                        <input type="text" class="form-control" name="last_name" id="fullName" required placeholder="Enter Your Last Name" required>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input type="email" class="form-control" name="email" id="emailAddress" required placeholder="Enter Your Email" required>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Country</label>
                        <select class="custom-select" name="country">
                            {% for data in nation %}
                                <option value="{{data.iso}}">{{data.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="emailAddress">Country Code</label>
                        <select class="custom-select" name="c_code">
                            {% for data in nation %}
                                <option value="{{data.phonecode}}">{{data.name}} - (+{{data.phonecode}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="fullName">Mobile Number</label>
                        <input type="number" class="form-control" name="phone_no" id="fullName" required placeholder="Enter Your Mobile without country code" required>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input type="password" name="password1" class="form-control" id="loginPassword" required placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Confirm Password</label>
                        <input type="password" name="password2" class="form-control" id="loginPassword" required placeholder="Confirm Password" required>
                    </div>
                    <button class="btn btn-primary btn-block my-4" type="submit">Sign Up</button>
                </form>
                <p class="text-3 text-muted text-center mb-0">Already have an account? <a class="btn-link" href="/account/login">Log In</a></p>
            </div>
        </div>
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->
    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Video Modal
    ============================================= -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content bg-transparent border-0">
                <button type="button" class="close text-white opacity-10 ml-auto mr-n3 font-weight-400" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="modal-body p-0">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" id="video" allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal end -->

    <!-- Script -->
    {% include 'foot.html' %}
</body>
</html>