{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="profile.html">Account</a></li>
                <li class="nav-item"> <a class="nav-link" href="profile-cards-and-bank-accounts.html">Cards & Bank Accounts</a></li>
                <li class="nav-item"> <a class="nav-link active" href="profile-notifications.html">Notifications</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <div class="row">
                <!-- Left Panel
                ============================================= -->
                <aside class="col-lg-3">

                    <!-- Profile Details
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt="">
                        </div>
                        <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
                    </div>
                    <!-- Profile Details End -->

                    <!-- Available Balance
                    =============================== -->
                    <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                        <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                        <h3 class="text-9 font-weight-400">₦ {{ show.bal|intcomma }}</h3>
                        <p class="mb-2 text-muted opacity-8">Available Balance</p>
                        <hr class="mx-n3">
                        <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
                    </div>
                    <!-- Available Balance End -->

                    <!-- Need Help?
                    =============================== -->
                    {% if vendor == None %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% else %}
                        <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                            <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                            <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                        </div>
                    {% endif %}
                    <!-- Need Help? End -->

                </aside>
                <!-- Left Panel End -->

                <!-- Middle Panel
                ============================================= -->
                <div class="col-lg-9">
                    {#                    <button class="btn btn-primary mt-1" type="submit">Save Changes</button>#}
                    <!-- Notifications
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-4 mb-4">
                        <div style="float: right;">
                            <a href="#ticket" data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><button class="btn btn-primary mt-1" type="submit">Create New Ticket</button></a>
                        </div>
                        <h3 class="text-5 font-weight-400">Support Ticket</h3>
                        <p class="text-muted">All Ticket from <span class="text-body">{{ user.first_name }} {{ user.last_name }}</span></p>
                        <hr class="mx-n4">
                        {% for data in shows %}
                            <a href="/account/reply/{{ data.ticket_id }}">
                                <div class="form-check custom-control custom-checkbox">
                                    <label class="custom-control-label text-3" for="reviewSurveys">{{ data.ticket_id }} - {{ data.subject }}</label>
                                    <p class="text-muted line-height-3 mt-2">{{ data.priority }}</p>
                                </div>
                            </a>
                            <hr class="mx-n4">
                        {% endfor %}
                        <ul class="pagination justify-content-center mt-4 mb-0">
                            {% if shows.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1" tabindex="-1">&laquo; First
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ shows.previous_page_number }}" tabindex="-1">Previous
                                    </a>
                                </li>
                            {% endif %}
                            <li class="page-item active">
                                <a class="page-link" href="#">
                                    Page {{ shows.number }} of {{ shows.paginator.num_pages }}.
                                </a>
                            </li>
                            {% if shows.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ shows.next_page_number }}">Next</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="?page={{ shows.paginator.num_pages }}">Last &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div id="ticket" class="modal fade " role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title font-weight-400">Account Settings</h5>
                                    <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                                </div>
                                <div class="modal-body p-4">
                                    <form id="accountSettings" action="/account/ticket" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="language">Subject</label>
                                                    <input type="text" name="subject" class="form-control" data-bv-field="address" id="address" required placeholder="Subject">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="input-timezone">Category</label>
                                                    <select class="custom-select" id="input-timezone" name="category">
                                                        <option>Select Category</option>
                                                        <option value="-Financial">Financial</option>
                                                        <option value="Merchant">Merchant</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="accountStatus">Priority</label>
                                                    <select class="custom-select" id="accountStatus" name="priority">
                                                        <option>Select Priority</option>
                                                        <option value="High">High</option>
                                                        <option value="Medium">Medium</option>
                                                        <option value="Low">Low</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="language">Message</label>
                                                    <textarea class="form-control" style="height:100px" name="content" placeholder="Type your message here"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-block mt-2" type="submit">Create Ticket</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Notifications End -->

                </div>
                <!-- Middle Panel End -->
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>