{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/bankTransfer">Transfer to Bank</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/transfer">Transfer</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/fastPay">Fast Pay</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/invoice">Create Invoice</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    {% if num %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
                <p class="text-4 text-center mb-4">You are sending money to
                    <span class="font-weight-500"><b>{{ check.first_name }} {{ check.last_name }}</b>
                    </span>
                </p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">

                            <!-- Send Money Confirm
                            ============================================= -->
                            <form id="form-send-money" method="post" action="transfer">
                                {% csrf_token %}
                                <input type="hidden" name="s_username" class="form-control" value="{{ user.username }}">
                                <input type="hidden" name="r_number" class="form-control" value="{{ check.phone_no }}">
                                <input type="hidden" name="r_cur" class="form-control" value="{{ r_cur }}">
                                <input type="hidden" name="s_cur" class="form-control" value="{{ s_cur }}">
                                <div class="form-group">
                                    <label for="youSend">You Send</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"> <span class="input-group-text">{{s_cur}}</span> </div>
                                        <input type="number" name="amount" step="any" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Amount">
                                        <div class="input-group-append"> <span class="input-group-text p-0"></span> </div>
                                    </div>
                                </div>
                                <p class="mb-1">Total fees <span class="text-3 float-right">+ {{ charge }}%</span></p>
                                <hr>
                                <button class="btn btn-primary btn-block">Send Money</button>
                            </form>
                            <!-- Send Money Confirm end -->
                        </div><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Transfer Money</h2>
                <p class="text-4 text-center mb-4">Send your money on anytime, anywhere in the world.</p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3">Receiver's Details</h3>
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form id="form-send-money" method="post" action="verify">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Sender Account</label>
                                    <select class="custom-select" name="s_cur">
                                        <option value="NGN">NGN - {{all_bal.bal|intcomma}}</option>
                                        <option value="USD">USD - {{all_bal.usd_bal|intcomma}}</option>
                                        <option value="GBP">GBP - {{all_bal.gbp_bal|intcomma}}</option>
                                        <option value="EUR">EUR - {{all_bal.eur_bal|intcomma}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Mobile Number</label>
                                    <input type="number" value="" name="number" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter Recipient Number">
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Receiver Account</label>
                                    <select class="custom-select" name="cur">
                                        <option value="NGN">Select Account</option>
                                        <option value="USD">USD</option>
                                        <option value="GBP">GBP</option>
                                        <option value="EUR">EUR</option>
                                        <option value="NGN">NGN</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-block">Continue</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>