{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
         <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/mobileData">Mobile Data</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/tvPayment">TV Subscription</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/power">Electricity</a></li>
                <li class="nav-item"> <a class="nav-link" href="/account/airtimeRecharge">Airtime</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    {% if status_code %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">

                            <!-- Send Money Confirm
                            ============================================= -->
                            <form id="post-form" method="post">
                                {% csrf_token %}
                                <input type="hidden" value={{sno}} id="sno" name="sno" class="form-control">
                                <h3 class="text-5 font-weight-400 mb-3">Details</h3>
                                <p class="mb-1">Customer Name <span class="text-3 float-right">{{ cus_name }}</span></p>
                                <p class="mb-1">Card Number <span class="text-3 float-right">{{ sno }}</span></p>
                                <p class="mb-1">Customer ID <span class="text-3 float-right">{{ cus_id }}</span></p>
                                <hr>
                                <div class="form-group">
                                    <label for="emailID">TV Packages</label>
                                    <select class="custom-select" id="variation_code" name="variation_code">
                                        <option value="">Select Type</option>
                                        {% for data in show %}
                                            <option value="{{data.variation_code}}">{{data.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <hr>
                                <button class="btn btn-primary btn-block">Send Money</button>
                            </form>
                            <!-- Send Money Confirm end -->
                        </div><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">TV Subscription</h2>
                <p class="text-4 text-center mb-4">Fastest way to pay </p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3">Receiver's Details</h3>
                            {% for message in messages %}
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Warning - </strong> {{ message }}
                                    </div>
                                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                                    <div class="alert alert-danger alert-dismissible bg-danger text-white border-0 fade show" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <strong>Error - </strong> {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <form id="form-send-money" method="post" action="/account/tvPayment">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">Utility Type</label>
                                    <select class="custom-select" name="biller">
                                        <option value="">Select Type</option>
                                        <option value="dstv">DSTV Subscription</option>
                                        <option value="gotv">GOTV Subscription</option>
                                        <option value="startimes">Startime Subscription</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="emailID">Card No</label>
                                    <input type="number" name="sno" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Smart Card Number">
                                </div>
                                <button class="btn btn-primary btn-block">Continue</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->
    <script src="{% static 'js/jquery-2.2.4.min.js'%}"></script>
<script src="{% static 'js/sweetalert.min.js'%}"></script>
<script type="text/javascript">
 $(document).on('submit', '#post-form',function(e){
  e.preventDefault();
  $.ajax({
   type:'POST',
   url:'/account/tvConfirm',
   data:{
    variation_code:$('#variation_code').val(),
    sno:$('#sno').val(),
    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
  },
  success:function(){
     swal({
          title: "Thank You!",
          text: "Transaction Successful!",
          icon: "success",
          type: "success"
        }).then(function() {
          window.location = "/account/dashboard";
        });
  },
  error : function(data) {
    document.getElementById("post-form").reset();
    swal("Error!!", "Please Try again", "error");
  }
});
});
</script>
    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>