{% load static %}
{% load humanize %}
{% block main %}
    <!DOCTYPE html>
    <html lang="en">
    {% include 'home/head.html' %}
    <body>
    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->

    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">
        <!-- Header
        ============================================= -->
        {% include 'header.html' %}
        <!-- Header End -->

        <!-- Secondary menu
        ============================================= -->
        <div class="bg-primary">
            <div class="container d-flex justify-content-center">
                <ul class="nav secondary-nav">
                    <li class="nav-item"> <a class="nav-link" href="/account/bulk-payment">All Data</a></li>
                    <li class="nav-item"> <a class="nav-link active" href="/account/upload_csv">Upload Bulk</a></li>
                </ul>
            </div>
        </div>
        <!-- Secondary menu end -->

        <!-- Content
        ============================================= -->
            <div id="content" class="py-4">
                <div class="container">
                    <h2 class="font-weight-400 text-center mt-3">Upload Bulk Data</h2>
                    <p class="text-4 text-center mb-4">Upload More than one data at once</p>
                    <div class="row">
                        <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                                <!-- Request Money Form
                                ============================================= -->
                                <form id="form-send-money" method="post" action="/account/upload_csv" enctype="multipart/form-data">
                                    {% csrf_token %}
                                     <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-prepend"> <span class="input-group-text">CSV</span> </div>
                                            <input type="file" name="file" class="form-control">
                                        </div>
                                    </div>
                                    <button class="btn btn-primary btn-block mt-4">Upload</button>
                                </form>
                                <!-- Request Money Form end -->
                            </div><br><br><br><br><br><br><br>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Content end -->

        <!-- Footer
        ============================================= -->
        {% include 'footer.html' %}
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->

    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Script -->
    {% include 'foot.html' %}
    <script>
        $(function() {
            'use strict';
            // Payment due by
            $('#paymentDue').daterangepicker({
                singleDatePicker: true,
                minDate: moment(),
                autoUpdateInput: false,
            }, function(chosen_date) {
                $('#paymentDue').val(chosen_date.format('MM-DD-YYYY'));
            });
        });
    </script>
    </body>
    </html>
{% endblock %}