{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include "home/head.html" %}
<body>

<!-- Preloader -->
<div id="preloader">
  <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper"> 
  <!-- Header
  ============================================= -->
  {% include "header.html" %}
  <!-- Header End --> 
  
  <!-- Secondary menu
  ============================================= -->
  <div class="bg-primary">
    <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav">
        <li class="nav-item"> <a class="nav-link" href="/account/group_payment">Group</a></li>
        <li class="nav-item"> <a class="nav-link active" href="#">All Group Member</a></li>
      </ul>
    </div>
  </div>
  <!-- Secondary menu end --> 
  
  <!-- Content
  ============================================= -->
  <div id="content" class="py-4">
    <div class="container">
      <div class="row"> 
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3"> 
          
          <!-- Profile Details
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/icon.png'%}" alt=""></div>
                <p class="text-3 font-weight-500 mb-2">Welcome! <b>{{ user.last_name }}</b></p>
              </div>
          <!-- Profile Details End --> 
          
          <!-- Available Balance
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
              <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                <h3 class="text-9 font-weight-400">₦ {{ show.bal|intcomma }}</h3>
                <p class="mb-2 text-muted opacity-8">Available Balance</p>
                <hr class="mx-n3">
              <div class="d-flex"><a href="#" class="btn-link mr-auto">Withdraw</a> <a href="#" class="btn-link ml-auto">Deposit</a></div>
          </div>
          <!-- Available Balance End --> 
          
          <!-- Need Help?
          =============================== -->
          {% if vendor == None %}
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                  <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                    <h3 class="text-9 font-weight-400">₦ 00.0</h3>
                    <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                </div>
            {% else %}
                <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
                  <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                    <h3 class="text-9 font-weight-400">₦ {{ vendor|intcomma }}</h3>
                      <p class="mb-2 text-muted opacity-8">Vendor Sales</p>
                </div>
            {% endif %}
          <!-- Need Help? End --> 
          
        </aside>
        <!-- Left Panel End --> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">
          
          <!-- Notifications
          ============================================= -->
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400">Payment Group Member</h3>
            <p class="text-muted">All Member in <span class="text-body">{{ group_name }}</span> Payment Group</p>
            <hr class="mx-n4">
            {% for data in all_member %}
              <div class="form-check custom-control custom-checkbox">
                <label class="custom-control-label text-3" for="announcements">{{ data.mobile_no }}</label>
                <div style="float: right;">
                  <a href="/account/delete_mem/{{ data.id }}" class="text-light btn-link mx-2"><span class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> 
                </div>
              </div>
              <hr class="mx-n4">
            {% endfor %}
          </div>
          <div align="center">
              <ul class="pagination justify-content-center mt-4 mb-0">
                    {% if all_member.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1" tabindex="-1">&laquo; First</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_member.previous_page_number }}" tabindex="-1">Previous</a>
                        </li>
                    {% endif %}
                        <li class="page-item active">
                            <a class="page-link" href="#">Page {{ all_member.number }} of {{ all_member.paginator.num_pages }}</a>
                            </li>
                    {% if show.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ all_member.next_page_number }}">Next</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="?page={{ all_member.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
          </div>
          <!-- Notifications End --> 
          
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>
  <!-- Content end --> 
  
  <!-- Footer
  ============================================= -->
  {% include "footer.html" %}
  <!-- Footer end --> 
  
</div>
<!-- Document Wrapper end --> 

<!-- Back to Top
============================================= --> 
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a> 

<!-- Script --> 
{% include "foot.html" %}
</body>

</html>