<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-primary">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav">
                <li class="nav-item"> <a class="nav-link" href="/account/transfer">Transfer</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/virtual_card">Credit E-Card</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    {% if card_check %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Card Owner Info</h2>
                <p class="text-4 text-center mb-4">You are loading card belonging to
                    <span class="font-weight-500"><b>{{ first }} {{ last }}</b>
                    </span>
                </p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">

                            <!-- Send Money Confirm
                            ============================================= -->
                            <form id="form-send-money" method="post" action="virtual_card">
                                {% csrf_token %}
                                <input type="hidden" name="s_username" class="form-control" value="{{ user.username }}">
                                <input type="hidden" name="card_no" class="form-control" value="{{ check.card_no }}">
                                <div class="form-group">
                                    <label for="youSend">You Load</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
                                        <input type="number" name="amount" step="any" class="form-control" data-bv-field="youSend" id="youSend" placeholder="Enter Amount">
                                        <div class="input-group-append"> <span class="input-group-text p-0"></span> </div>
                                    </div>
                                </div>
                                <p class="mb-1">Total fees <span class="text-3 float-right">+ {{ charge }}%</span></p>
                                <hr>
                                <button class="btn btn-primary btn-block">Load</button>
                            </form>
                            <!-- Send Money Confirm end -->
                        </div><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div id="content" class="py-4">
            <div class="container">
                <h2 class="font-weight-400 text-center mt-3">Load E-Card</h2>
                <p class="text-4 text-center mb-4">Load your E-Card or your friends E-Card</p>
                <div class="row">
                    <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                        <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                            <h3 class="text-5 font-weight-400 mb-3">Card Details</h3>
                            <form id="form-send-money" method="post" action="card_check">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="emailID">E-Card Number</label>
                                    <input type="number" value="" name="card_no" class="form-control" data-bv-field="emailid" id="emailID" required placeholder="Enter E-Card Number">
                                </div>
                                <button class="btn btn-primary btn-block">Continue</button>
                            </form>
                            <!-- Send Money Form end -->
                        </div><br><br><br><br><br><br><br>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>