{% load humanize %}
<!DOCTYPE html>
<html lang="en">

{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-white">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav alternate">
                <li class="nav-item"> <a class="nav-link" href="#">Deposit</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/withdraw">Withdraw</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3 mb-4">Withdraw Money</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Form
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <div class="text-center bg-primary p-4 rounded mb-4">
                            <h3 class="text-10 text-white font-weight-400">₦ {{ shows.bal|intcomma }}</h3>
                            <p class="text-white">Available Balance</p>
                            <a href="#" class="btn btn-outline-light btn-sm shadow-none text-uppercase rounded-pill text-1">Withdraw Full Amount</a> </div>
                        <form id="form-send-money" method="post" action="/account/withdraw">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="withdrawto">Withdraw to</label>
                                <select id="withdrawto" name="acct_no" class="custom-select" required="">
                                    <option value="">Select Account</option>
                                    {% for data in show %}
                                        <option value="{{ data.account_no }}">{{ data.account_no }} - {{ data.bank_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="youSend">Amount</label>
                                <div class="input-group">
                                    <div class="input-group-prepend"> <span class="input-group-text">₦</span> </div>
                                    <input type="number" name="amount" step="any" class="form-control" data-bv-field="youSend" id="youSend" placeholder="1,000">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block">Continue</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Form end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>
</html>