{% load humanize %}
<!DOCTYPE html>
<html lang="en">
{% include 'home/head.html' %}
<body>

<!-- Preloader -->
<div id="preloader">
    <div data-loader="dual-ring"></div>
</div>
<!-- Preloader End -->

<!-- Document Wrapper   
============================================= -->
<div id="main-wrapper">
    <!-- Header
    ============================================= -->
    {% include 'header.html' %}
    <!-- Header End -->

    <!-- Secondary menu
    ============================================= -->
    <div class="bg-white">
        <div class="container d-flex justify-content-center">
            <ul class="nav secondary-nav alternate">
                <li class="nav-item"> <a class="nav-link" href="#">Deposit</a></li>
                <li class="nav-item"> <a class="nav-link active" href="/account/withdraw">Withdraw</a></li>
            </ul>
        </div>
    </div>
    <!-- Secondary menu end -->

    <!-- Content
    ============================================= -->
    <div id="content" class="py-4">
        <div class="container">
            <h2 class="font-weight-400 text-center mt-3 mb-4">Withdraw Money</h2>
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5 mx-auto">
                    <!-- Withdraw Money Confirm
                    ============================================= -->
                    <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
                        <p class="text-4 text-center alert alert-info">You are Withdraw money <br>
                            to<br>
                            <span class="font-weight-500">{{ bank_name }} - {{ acct_name }}</span></p>
                        <p class="mb-2 mt-4">Amount to Withdraw <span class="text-3 float-right">{{ amount|intcomma }} NGN</span></p>
                        <hr>
                        <p class="font-weight-500">Total<span class="text-3 float-right">{{ amount|intcomma }} NGN</span></p>
                        <form id="form-withdraw-money-confirm" method="post" action="/account/initiate_withdraw">
                            {% csrf_token %}
                            <input type="hidden" value="{{ acct_num }}" name="acct_no">
                            <input type="hidden" name="amount" value="{{ amount }}">
                            <input type="hidden" name="bnk_code" value="{{ bnk_code }}">
                            <button class="btn btn-primary btn-block">Withdraw Money</button>
                        </form>
                    </div>
                    <!-- Withdraw Money Confirm end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Content end -->

    <!-- Footer
    ============================================= -->
    {% include 'footer.html' %}
    <!-- Footer end -->

</div>
<!-- Document Wrapper end -->

<!-- Back to Top
============================================= -->
<a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

<!-- Script -->
{% include 'foot.html' %}
</body>

</html>