{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "doc/head.html" %}

  <body>


    <!-- Navbar -->
    {% include "doc/navbar.html" %}
    <!-- /.navbar -->


    <!-- Header -->
    <header class="header" style="background-image: linear-gradient(135deg, #f9f7ff 0%, #fff 50%, #f6f3ff 100%);">
      <div class="container">
        <div class="row align-items-center">

          <div class="col-lg-6">
            <h1>Your Support Center</h1>
            <p class="lead mt-5 mb-8">Thinking on how to use jCollect to collect money from your customer, with this simple documentation, you are on your way.</p>
            <p><a class="btn btn-lg btn-round btn-info" href="/account/register">Register</a></p>
          </div>

          <div class="col-lg-5 ml-auto d-none d-lg-block">
            <img src="{% static 'doc/assets/img/vector/1.png'%}" alt="img">
          </div>

        </div>
      </div>
    </header><!-- /.header -->


    <!-- Main Content -->
    <main class="main-content">


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Explore
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section py-9">
        <div class="container">

          <div class="row gap-y text-center">

            <div class="col-md-4">
              <a class="card px-6 py-8 shadow-11 hover-shadow-9 text-default border" href="help/archive-1.html">
                <p><i class="ti-book lead-7 text-primary"></i></p>
                <h5 class="fw-500 my-4">Knowledge Base</h5>
                <p class="mb-0">Get started using this template by reading the helpful articles.</p>
              </a>
            </div>

            <div class="col-md-4">
              <a class="card px-6 py-8 shadow-11 hover-shadow-9 text-default border" href="help/faq-1.html">
                <p><i class="ti-help lead-7 text-primary"></i></p>
                <h5 class="fw-500 my-4">FAQ</h5>
                <p class="mb-0">Lots of questions have asked before and have answers here.</p>
              </a>
            </div>

            <div class="col-md-4">
              <a class="card px-6 py-8 shadow-11 hover-shadow-9 text-default border" href="docs/kb-introduction.html">
                <p><i class="ti-agenda lead-7 text-primary"></i></p>
                <h5 class="fw-500 my-4">Documentation</h5>
                <p class="mb-0">Read our documentation to get start and browse the available UI kit.</p>
              </a>
            </div>

          </div>


        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Featured articles
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small>UI Kit</small>
            <h2>Popular Articles</h2>
            <hr>
            <p class="lead">The following articles are the most helpful articles. One of them might be the one you look for.</p>
          </header>


          <div class="row gap-y">

            <div class="col-md-6 col-xl-4">
              <h6 class="fw-500">Getting started</h6>
              <ul class="list-unstyled lead">
                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/kb-introduction.html">Introduction</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/kb-contents.html">Contents</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/kb-basic-starter.html">Basic starter</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/kb-expert-starter.html">Expert starter</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="small" href="docs/kb-introduction.html">See All (4)</a>
                </li>
              </ul>
            </div>


            <div class="col-md-6 col-xl-4">
              <h6 class="fw-500">Content</h6>
              <ul class="list-unstyled lead">
                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/typography.html">Typography</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/code.html">Code</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/icon.html">Icons</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/table.html">Tables</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="small" href="docs/typography.html">See All (6)</a>
                </li>
              </ul>
            </div>


            <div class="col-md-6 col-xl-4">
              <h6 class="fw-500">Components</h6>
              <ul class="list-unstyled lead">
                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/button.html">Buttons</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/form.html">Forms</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/alert.html">Alert</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="text-inherit" href="docs/palette.html">Palette</a>
                </li>

                <li>
                  <i class="fa fa-caret-right text-primary small-1 mr-2"></i>
                  <a class="small" href="docs/accordion.html">See All (13)</a>
                </li>
              </ul>
            </div>

          </div>


        </div>
      </section>



      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | More help
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <h2>Get More Help</h2>
            <hr>
            <p class="lead">Here we have more ways to get help from real humans.</p>
          </header>


          <div class="row gap-y">

            <div class="col-md-6 col-lg-3">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p><i class="fa fa-users lead-7 text-lighter"></i></p>
                <h6 class="mb-0 mt-3">Forums</h6>
              </a>
            </div>


            <div class="col-md-6 col-lg-3">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p><i class="fa fa-twitter lead-7 text-lighter"></i></p>
                <h6 class="mb-0 mt-3">Twitter Support</h6>
              </a>
            </div>


            <div class="col-md-6 col-lg-3">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p><i class="fa fa-envelope lead-7 text-lighter"></i></p>
                <h6 class="mb-0 mt-3">Email Us</h6>
              </a>
            </div>


            <div class="col-md-6 col-lg-3">
              <a class="card card-body border hover-shadow-6 text-center py-6" href="#">
                <p><i class="fa fa-phone lead-7 text-lighter"></i></p>
                <h6 class="mb-0 mt-3">Phone Call</h6>
              </a>
            </div>

          </div>
        </div>
      </section>


    </main><!-- /.main-content -->


    <!-- Footer -->
    {% include "doc/footer.html" %}
    <!-- /.footer -->


    <!-- Scripts -->
    {% include "doc/foot.html" %}

  </body>
</html>
