<footer class="footer">
      <div class="container">
        <div class="row gap-y align-items-center">

          <div class="col-md-9">
            <div class="nav justify-content-center justify-content-md-start">
              <a class="nav-link" href="index.html">Home</a>
              <a class="nav-link" href="docs/kb-introduction.html">Docs</a>
              <a class="nav-link" href="page/changelog-1.html">Changelog</a>
              <a class="nav-link" href="https://themeforest.net/item/thedocs-online-documentation-template/13070884?license=regular&amp;open_purchase_for_item_id=13070884&amp;purchasable=source&amp;ref=thethemeio">Purchase</a>
            </div>
          </div>

          <div class="col-md-3 text-center text-md-right">
            <a href="{{url}}">&copy; {% now 'Y' %} jCollect Developer</a>
          </div>
        </div>
      </div>
    </footer>