{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>jCollect Developer Documentation</title>

    <!-- Styles -->
    <link href="{% static 'doc/assets/css/page.min.css'%}" rel="stylesheet">
    <link href="{% static 'doc/assets/css/style.css'%}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{% static 'doc/assets/img/apple-touch-icon.png'%}">
    <link rel="icon" href="assets/img/favicon.png">

    <!--  Open Graph Tags -->
    <meta property="og:title" content="TheDocs — Online Documentation Template">
    <meta property="og:description" content="A powerful, responsive, and high-performance html online documentation template which can help you rapidly develop your next software’s documentation.">
    <meta property="og:image" content="{% static 'doc/assets/img/og-img.jpg'%}">
    <meta property="og:url" content="index-2.html">
    <meta name="twitter:card" content="summary_large_image">
  </head>