  {% load static %}
  <nav class="navbar navbar-expand-lg navbar-dark navbar-stick-dark" data-navbar="sticky">
      <div class="container">

        <div class="navbar-left">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="index.html">
            <img class="logo-dark" src="{% static 'doc/assets/img/logo-dark.png'%}" alt="logo">
            <img class="logo-light" src="{% static 'doc/assets/img/logo-light.png'%}" alt="logo">
          </a>
        </div>

        <section class="navbar-mobile">
          <span class="navbar-divider d-mobile-none"></span>

          <ul class="nav nav-navbar">
            <li class="nav-item">
              <a class="nav-link" href="#">Developer <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="layout/general-1.html">PHP</a>
                <a class="nav-link" href="layout/general-2.html">Python</a>
                <a class="nav-link" href="layout/general-3.html">Java</a>
              </nav>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Help Center <span class="arrow"></span></a>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Homepage <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="help/homepage-1.html">Homepage 1</a>
                    <a class="nav-link" href="help/homepage-2.html">Homepage 2</a>
                  </nav>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Archive <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="help/archive-1.html">Archive 1</a>
                    <a class="nav-link" href="help/archive-2.html">Archive 2</a>
                    <a class="nav-link" href="help/archive-3.html">Archive 3</a>
                  </nav>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Article <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="help/article-1.html">Article 1</a>
                    <a class="nav-link" href="help/article-2.html">Article 2</a>
                    <a class="nav-link" href="help/article-3.html">Article 3</a>
                  </nav>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">FAQ <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="help/faq-1.html">FAQ 1</a>
                    <a class="nav-link" href="help/faq-2.html">FAQ 2</a>
                    <a class="nav-link" href="help/faq-3.html">FAQ 3</a>
                  </nav>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Pages <span class="arrow"></span></a>
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="page/contact-1.html">Contact 1</a>
                    <a class="nav-link" href="page/contact-2.html">Contact 2</a>
                  </nav>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">Changelog <span class="arrow"></span></a>
                  <nav class="nav">
                    <a class="nav-link" href="page/changelog-1.html">Changelog 1</a>
                    <a class="nav-link" href="page/changelog-2.html">Changelog 2</a>
                  </nav>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="page/terms.html">Terms</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="page/error-404.html">Error 404</a>
                </li>
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#">Docs <span class="arrow"></span></a>
              <nav class="nav">
                <a class="nav-link" href="docs/kb-introduction.html">Getting started</a>
                <a class="nav-link" href="docs/typography.html">Content</a>
                <a class="nav-link" href="docs/navbar.html">Layout</a>
                <a class="nav-link" href="docs/accordion.html">Components</a>
              </nav>
            </li>
          </ul>
        </section>
        {% if user.is_authenticated %}
            <a class="btn btn-sm btn-round btn-success" href="/account/dashboard">Dashboard</a>
        {% else %}
            <a class="btn btn-sm btn-round btn-success" href="/account/login">Login</a>
        {% endif %}

      </div>
    </nav>